<template lang="pug">
    b-card(no-body)
        b-card-header(header-tag='h6') Idea details
        b-list-group(v-if='idea' :flush='true')
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Date
                span.text-right {{ idea.date | dateMMMDDYYYY }}
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Coin
                span {{ idea.getBuyedCoin().symbol.toUpperCase() }}
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Currency
                span {{ idea.getPaidCoin().symbol.toUpperCase() }}
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Price
                span {{ idea.getPrice() }}
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Exchange
                span {{ idea.exchange.name | capitalize }}
            b-list-group-item.d-flex.justify-content-between.align-items-center(v-if='idea.ex_growth && idea.ex_growth != null')
                span.text-muted Expected upside
                span {{ idea.ex_growth }}%
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Horizon
                span {{ idea.horizon }}
            
        b-card-header(header-tag='h6' v-if='idea && idea.targets.length') Targets
        b-list-group(v-if='idea && idea.targets.length' :flush='true')
            b-list-group-item.d-flex.justify-content-between.align-items-center(v-for='(t, index) in idea.targets' :key='t.idd')
                span.text-muted.text-nowrap Target {{ index + 1 }}
                span.text-right {{t.amount }}% by {{ t.price }}
            b-list-group-item.d-flex.justify-content-between.align-items-center(v-if='idea.ex_profit && idea.ex_profit != null')
                span.text-muted Expected return
                span {{ idea.ex_profit }}%
            b-list-group-item.d-flex.justify-content-between.align-items-center(v-if='idea.stoploss.price && idea.stoploss.price != null')
                span.text-muted Stop loss
                span {{ idea.stoploss.price }}
        
        b-card-header(v-if='idea && idea.isClosed()' header-tag='h6') Result
        b-list-group(v-if='idea && idea.isClosed()' :flush='true')
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Upside
                span.text-right(:class='{"text-green" : idea.upside > 0, "text-red-dark": idea.upside <= 0}' v-if='idea.upside != null') {{idea.upside}}%
            b-list-group-item.d-flex.justify-content-between.align-items-center
                span.text-muted Return
                span.text-right(:class='{"text-green" : idea.profit > 0, "text-red-dark": idea.profit <= 0}' v-if='idea.profit != null') {{idea.profit}}%
</template>

<script>
    export default {
        name        : 'Comments',
        props       : {
            idea : {}
        },
        data        : function () { return {}; },
        computed : {
        },
    };
</script>