<template lang='pug'>
	b-card.text-center.card-info.mx-auto(no-body v-if='profile')
		b-card-body.stats-list.pb-0
			h6.text-center.font-weight-normal Profitable ideas
			.wrapper-chart-round
				cui-chart-round.d-flex.justify-content-center(:amount='profile.profit' color-background='#F8F8F8' :height="104" :width="104" chart-id="profitableIdeas")
				.chart-round-title {{profile.profit}}%

			.text-muted.my-4
				b {{ profile.closedIdeas }} 
				| closed ideas

		b-card-footer
			div.d-flex.justify-content-around
				div
					small.d-block.mb-1.font-weight-normal.text-muted Avg. Profit
					.h5.mb-1.text-green {{profile.avgProfit}}%
				div
					small.d-block.mb-1.font-weight-normal.text-muted Avg. Loss
					.h5.mb-1.text-red-dark {{profile.avgLoss}}%				
</template>

<script>
	import Vue from 'vue'
	import CuiChartRound from '@/cui-components/charts/CuiChartRound'
	import moment from 'moment'

	export default {
		name 		: 'CuiProfileStatistics',
		props 		: {
			profile	: {},
		},
		components 	: {
			CuiChartRound
		},
		computed : {
			since () {
				return moment( this.profile.registeredAt ).format('MMM YYYY');
			}
		}
	}
</script>