<template lang='pug'>
	.media.profile-info
		div.profile-info-avatar
			img.ui-w-100.rounded-circle(alt :src="profile.avatar")
			div.mt-4.mb-2.text-muted.text-center.small On platform since
				br
				| {{ since }}

		.media-body.ml-5
			.mb-3.wrapper_username
				h4.mb-2.d-block.d-sm-inline.username {{ profile.username | capitalize }}
				span.text-muted.mx-3.h4.font-weight-light.d-none.d-sm-inline |
				span.text-muted.fullname {{ profile.fullname }}

			.bio.mb-3
				| {{ profile.bio }}

			.social.mb-4
				span.follow-amount.d-flex.d-sm-inline
					span.amount.mr-4
						b {{ profile.followingCnt }} 
						| following
					
					span.amount
						b {{ profile.followersCnt }} 
						| followers

				span.text-muted.mx-4.h4.font-weight-light.d-none.d-sm-inline |
				//- .d-none.d-lg-inline
				.networks.d-flex.d-sm-inline-flex.align-items-center
					a.networks-item.networks-item-bitcoin.d-inline-flex.align-items-start(href='/' target='_blank')
						svg(width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M4.66667 8.66267V12C7.312 12 9.12533 11.7493 9.12533 10.3227C9.12533 8.792 7.16667 8.66267 4.66667 8.66267ZM8.38533 5.66667C8.38533 4.33333 7 4 4.66667 4V7.33333C6.14 7.33333 8.38533 7.22933 8.38533 5.66667ZM6.66667 14V16H5.33333V13.9853H4.66667V16H3.33333V13.9853H0.0213324L0.354667 12H1.07333C1.66267 12 2 11.4333 2 10.8613V4.936C2 4.38133 1.67733 4 1.08933 4H0V2H3.33333V0H4.66667V2H5.33333V0H6.66667V2.03467C9.544 2.132 10.6827 3.22267 11.0093 4.45067C11.396 5.904 10.4373 7.124 9.61467 7.42133C10.6147 7.67733 12 8.416 12 10.1227C12 12.444 10.208 14 6.66667 14Z" fill="#C4C4C4")
					a.networks-item(href='/' target='_blank')
						i.fab.fa-facebook-f
					a.networks-item.networks-item-twitter(href='/' target='_blank')
						i.fab.fa-twitter
					a.networks-item(href='/' target='_blank')
						i.fab.fa-telegram-plane
					a.networks-item(href='/' target='_blank')
						i.fab.fa-linkedin-in

			b-btn.ui-w-140(variant='primary') Follow
				//- b-btn.ui-w-140.mr-4(variant='outline-primary') Unfollow

</template>

<script>
	import Vue from 'vue'
	import moment from 'moment'
	
	export default {
		name 		: 'CuiProfileInfo',
		props 		: {
			profile	: {},
		},
		computed : {
			since () {
				return moment( this.profile.registeredAt ).format('MMM YYYY');
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../../vendor/styles/_projectname/_include';

	.profile-info {
		.username,.bio, .social .amount {
			color: #000 !important;
		}

		.bio { max-width: 500px; }

		.fullname {
			font-size: 1rem;
		}

		.networks {
			height: 1rem;
			line-height: 1rem;
		}

		.networks-item {
			color: #C4C4C4;
			font-size: 1.1rem;
			
			.fa-facebook-f {
				font-size: 15px;
			}

			.fa-twitter, .fa-linkedin-in {
				font-size: 16px;
			}

			&:not(:last-child) {
				margin-right: 12px;
			}

			&.networks-item-twitter {
				margin-right: 10px;
			}

			&:hover {
				color: #a3a4a6;
				path {
					fill: #a3a4a6;
				}
			}
		}
	}

	.profile-info-avatar, .wrapper_username {
		line-height: 1rem;
	}

	@include media-breakpoint-down(md) {
		.profile-info-avatar {
			margin-top: 1rem;
		}
	}

	@include media-breakpoint-only(md) {
		
		.networks {
			margin-top: .75rem;
		}
	}

	@include media-breakpoint-only(xs) {
		.profile-info {
			display: block;
		}

		.profile-info-avatar {
			width: 100%;
			text-align: center;
			margin-top: 0 !important;

			.mt-4 {
				margin-top: .5rem !important;
			}
		}

		.media-body {
			margin-left: 0 !important;

			.wrapper_username {
				width: 100%;
				text-align: center;
			}

			.btn {
				width: 100% !important;
			}

			.mb-3,.mb-4 {
				margin-bottom: .5rem !important;
			}
		}

		.networks {
			justify-content: space-between;
		}

		.follow-amount {
			justify-content: center;
			margin-bottom: .5rem;
		}

		.amount {
			padding: 0;
		}
	}
	@media (min-width: 768px) and (max-width: 913px) {
		.follow-amount + .text-muted {
			visibility: hidden !important;
		}
	}
	
</style>