<template lang="pug">
	div
		b-row.text-center
			b-col.text-nowrap(:class="{'col-md-3' : !edit}" v-if='!edit || (edit && actions.length > 1)')
				span(v-show='actions.length > 1') Amount 
					span.text-danger *
			b-col.text-nowrap(:class="{'col-md-4' : !edit}")
				| Target price 
				span.text-danger *
			b-col.text-nowrap(:class="{'col-md-3' : !edit}")
				| Upside 
				span.text-danger *
			b-col.text-nowrap(:class="{'col-md-2' : !edit}")
				| Horizon 
				span.text-danger *
		// BEGIN ACTIONS
		b-form-group.position-relative(v-for='(a, index) in actions', :key='index')
			cui-sell-item(:amount='a.amount', :price='a.price', :growth='a.growth', :horizon='a.horizon', :disabled='a.disabled', :edited='edit', :buy-price='buyPrice', :close='index != 0', :index='index', :remove='removeAction', :total='actions.length', @change='updateAction')
		b-form-group(v-if='!edit && actions.length < limit')
			b-button.float-right(variant='success', @click='addAction()') +
		b-form-group
			span.float-right Expected return {{ profit }}%
		// END ACTIONS
</template>

<script>
	import Vue from 'vue';
	import {CuiFloat} from '../../cui-directives/CuiFloat.js'
	import CuiSellItem from './CuiSellItem'

	export default {
		name 		: 'CuiNewIdeaSellForm',
		components 	: {
			CuiSellItem
		},
		inject: ['$validator'],
		props 		: {
			actions	: {},
			buyPrice: {},
			edit 	: {},
			limit 	: {
				type 	: Number,
				default : 4
			}
		}, 
		data 		: function () {
			return {}
		},

		mounted () {
			
		},

		computed: {
			profit () {
				var shouldCalculate = true;

				_.forIn(this.actions, function (a) {
					if ( _.isNil(a.price) || a.price == 0 || a.price == "" ) {
						shouldCalculate = false;
					}
				})

				if ( _.isNil(this.buyPrice) || this.buyPrice == 0 || this.buyPrice == "" ) {
					shouldCalculate = false;
				}

				if ( !shouldCalculate || _.sumBy(this.actions, function (a) { return a.amount;}) < 100 ) {
					return "...";
				}

				return _.sumBy(this.actions, function (a) { return a.amount*a.growth/100;}).toFixed(2);
			},
		},

		watch : {
			'actions' : {
				handler ( nv, ov ) {
					_.each(this.actions, v => v.amount = (100/this.actions.length).toFixed(0) );

					if ( this.actions.length == 3 && this.actions[2].amount == 33 ) { this.actions[2].amount = 34; }
				}
			}
		},

		methods: {
			addAction () {
				this.actions.push(_.forIn(_.clone(_.head(this.actions), true), function ( v, k, s ) { s[k] = null; }));
			},

			removeAction (index) {
				this.actions.splice(index, 1);
			},

			updateAction ( index, val ) {
				this.$emit('change', index, val, this.profit);				
			},
		},
	}
</script>

<style lang="sass">
	.action__close
		cursor: pointer
		top: 5px
		right: -25px
		position: absolute
		
</style>