<template lang='pug'>
	b-form(data-vv-scope='target', autocomplete='off')
		b-row.position-relative(:check-update-parent='checkUpdateParent')
			b-col(:class="{'col-md-3' : !edited}" v-if='!edited || (edited && total > 1)')
				b-input-group(v-show='data.e || total > 1', append='%')
					b-form-input(ref='IActionAmount', :name='`amount${index}`', v-model.number='data.a', min='1', max='100', v-cuifloat='0', placeholder='0', :state='checkActionsAmount()', :disabled='data.d || edited', :class="{'is-invalid' : errors.has(`target.amount${index}`)}", v-validate='{required: true, decimal: true}', :data-vv-as='`Target amount ${index+1} row`')
			b-col(:class="{'col-md-4' : !edited}")
				b-form-input(:name='`price${index}`', ref='IActionPrice', v-model='calculatePrice', placeholder='Per unit', :disabled='data.d', :class="{'is-invalid' : errors.has(`target.price${index}`)}", v-validate='{required: true, decimal: 8}', :data-vv-as='`Target price ${index+1} row`')
			b-col(:class="{'col-md-3' : !edited}")
				b-input-group(append='%')
					b-form-input(ref='IActionGrowth', :name='`upside${index}`', v-model='calculateGrowth', placeholder='0', :disabled='data.d', :class="{'is-invalid' : errors.has(`target.upside${index}`)}", v-validate='{required: true, decimal: 2}', :data-vv-as='`Target upside ${index+1} row`')
			// BEGIN HORIZON
			b-col(:class="{'col-md-2' : !edited}")
				b-select(v-model='data.h', :options='options.horizon', :disabled='data.d || edited', v-if='index == 0')
			// END HORIZON
			i.ion.ion-ios-close.action__close.h3.mb-0(v-if='close', @click='remove(index)')
</template>

<script>
	import Vue from 'vue';
	import {bus} from '@/main.js'
	import {CuiFloat} from '../../cui-directives/CuiFloat.js'
	import {IDEA_HORIZONS} from '@/models/idea'
	import { Validator } from 'vee-validate';

	export default {
		name 		: 'CuiSellItem',
		components 	: {},
		inject: ['$validator'],
		props 		: {
			amount 		: {},
			price 		: {},
			growth 		: {},
			horizon 	: {},
			disabled 	: {},
			buyPrice	: {},
			index 	: {
				default : 0,
				type 	: Number
			},
			total 	: {
				default : 0,
				type 	: Number
			},
			close 	: {
				default : false,
				type 	: Boolean
			},
			remove : {
				default : function () {},
				type 	: Function
			},
			edited		: {
				default : false,
				type 	: Boolean
			},
		}, 
		data 		: function () {
			return {
				data: {
					a : null,
					p : null,
					g : null,
					b : null,
					d : null,
					e : null,
					h : IDEA_HORIZONS[0].id
				},

				options : {
					horizon: IDEA_HORIZONS.map( v => { return {value: v.id, text: v.title}})
				}
			}
		},

		mounted () {
			if ( !this.index || this.index > 0 ) {
				if ( this.$refs.IActionAmount ) {
					this.$refs.IActionAmount.focus();
				}
			}

			//Listen on the bus for the parent component running validation
			bus.$on('validate', this.onValidate)
		},

		beforeDestroy() {
			//When destroying the element remove the listeners on the bus.
			//Useful for dynaically adding and removing child components
			bus.$emit('errors-changed', [], this.errors.errors)
			bus.$off('validate', this.onValidate)
		},

		computed: {
			checkUpdateParent () {
				this.data.a = this.amount;
				this.data.p = this.price;
				this.data.b = this.buyPrice;
				this.data.g = this.growth;
				this.data.h = this.horizon ? this.horizon : IDEA_HORIZONS[0].id;
				this.data.d = this.disabled;
				this.data.e = this.e;
			},
			calculatePrice: {
				get () {
					return isFinite(this.data.p) ? this.data.p : '';
				},
				set (val) {
					this.data.p = val;

					if ( this.$refs.IActionPrice.$el === document.activeElement && val != '' ) {
						this.data.g = ((val/this.data.b-1)*100).toFixed(2);
					}
				}
			},

			calculateGrowth: {
				get () {
					return isFinite(this.data.g) ? this.data.g : '';
				},
				set (val) {
					this.data.g = val;

					if ( this.$refs.IActionGrowth.$el === document.activeElement ) {
						this.data.p = this.data.b*(1+val/100);
					}
				}
			}
		},

		watch : {
			"data.a": {
				handler ( nV, oV ) {
					this.$emit('change', this.index, this.data);
				}
			},
			"data.p": {
				handler ( nV, oV ) {
					this.$emit('change', this.index, this.data);
				}
			},
			"data.g": {
				handler ( nV, oV ) {
					this.$emit('change', this.index, this.data);
				}
			},
			"buyPrice": {
				handler ( nV, oV ) {
					// hack!!!!!
					this.data.b = nV;
					if (this.data.p != null && this.data.p != '' ) {
						this.data.g = ((this.data.p/this.data.b-1)*100).toFixed(2);
					}
				}
			},
			"data.h": {
				handler ( nV, oV ) {
					this.$emit('change', this.index, this.data);
				}
			},
		},

		methods: {
			checkActionsAmount: function () {
				if ( this.amount > 100 || this.amount < 0 ) { return false; }
			},

			onValidate() {

				let v = this.$validator.validateAll('target');

				v.then( result => {
						
				});
			},
		},
	}
</script>