<template>
	<div class="position-relative">
		<b-input-group>
			<b-input-group-text slot="prepend" v-if="!hideP && loading">
				<i class="ion ion-md-sync"></i>
			</b-input-group-text>
			
			<b-input-group-text slot="prepend" v-if="!hideP && !loading">
				<i class="ion ion-ios-search"></i>
			</b-input-group-text>
			<input type="text"
				class="form-control"
				:class="className"
				:placeholder="placeholder"
				autocomplete="off"
				v-model="value"
				@keydown.down="down"
				@keydown.up="up"
				@keydown.enter="hit"
				@keydown.esc="reset"
				@blur="reset"
				@focus="updateQueryFocus"
				@input="updateQuery" />
			<b-input-group-text slot="append" v-if="!hideA && (isDirty || value)" @click="resetQuery">
				<i class="ion ion-md-close" ></i>
			</b-input-group-text>
		</b-input-group>

		<div class="dropdown-menu" :class="{ 'd-block': hasItems }" :style="{left: isRTL ? 'auto' : 0, right: isRTL ? 0 : 'auto'}">
			<a class="dropdown-item" href="javascript:void(0)" v-for="(item, $item) in items" :class="activeClass($item)" @mousedown="hit" @mousemove="setActive($item)">
				<span class="name" v-html="itemTitle(item)"></span>
				<span class="text-muted">{{ itemTitleMuted(item) }}</span>
			</a>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue'
	import Axios from 'axios'
	import VueTypeahead from 'vue-typeahead'

	// Set up $hhtp client (required by vue-typeahead)
	Vue.prototype.$http = Axios

	export default {
		extends : VueTypeahead,
		name 	: 'cui-typeahead',
		inject 	: ['$validator'],
		props 	: [],
		props: {
			limit : {
				default : 5,
				type 	: Number
			},
			minChars : {
				default : 3,
				type 	: Number
			},
			placeholder : {
				default : "Search twitter user",
				type 	: String
			},
			src : {
				default : 'https://typeahead-js-twitter-api-proxy.herokuapp.com/demo/search',
				type 	: String
			},
			hidePrepand : {
				default : false,
				type 	: Boolean
			},
			hideAppend : {
				default : false,
				type 	: Boolean
			},
			onFocusQuery: {
				default : false,
				type 	: Boolean
			},
			name 		: {
				default : "inputField",
				type 	: String
			},
			className	: {}
		},
		data : function () {
			return {
				value 			: '',
				hideP 			: this.hidePrepand,
				hideA 			: this.hideAppend,
				valueSelected 	: ''
			}
		},
		watch : {
			valueSelected: {
				handler ( nV, oV ) {
					this.$emit('onHit', nV);
				}
			}
		},
		methods : {
			updateQueryFocus () {
				if ( this.onFocusQuery ) { this.update(); }
			},
			updateQuery () {
				this.query = this.value;
				this.valueSelected = '';
				this.update();
			},
			onHit (item) {
				this.value = this.itemValue(item);
				this.valueSelected = this.value;
				this.reset();
			},
			resetQuery () {
				this.value = '';
				this.valueSelected = '';
				this.reset();
			},
			itemValue ( item ) {
				return item.name;
			},
			itemTitle ( item ) {
				return item.name;
			},
			itemTitleMuted ( item ) {
				return  "";
			}
		},
		$_veeValidate: {
			/*name() {
				return this.name;
			},*/
			value() {
				return this.valueSelected;
			}
		}
	}
</script>