<style lang="sass">
	.icon
		width: 30px
		height: 30px
		border-radius: 50%
		margin-right: 5px
</style>

<script>
	import CuiTypeahead from './CuiTypeahead'

	export default {
		extends : CuiTypeahead,
		name 	: 'cui-typeahead-coins',
		methods : {
			itemValue ( item ) {
				return item.Name;
			},
			itemTitle ( item ) {
				return '<img class="icon" src="https://www.cryptocompare.com' + item.ImageUrl + '"> ' + item.Name;
			},
			itemTitleMuted ( item ) {
				return  "";
			},
			prepareResponseData (data) {
		      	return data.Results;
		    },
		    onHit (item) {
		    	// When we will determine url for getting coins
		    	// than we should use vuex store for select coin
				this.value = this.itemValue(item);
				this.valueSelected = this.value;
				this.$emit('onHit', item.Symbol);
				this.reset();
			},
		}
	}
</script>