<template lang="pug">
    b-card.mb-4(no-body :check-update-parent="checkUpdateParent")
        b-card-body
            b-form-textarea.pb-1.mb-3.w-100(:rows="5" placeholder="Write your comment" v-model="text" :no-resize="true")
            .clearfix
                b-btn.float-right(variant="primary" @click="submit()" :disabled="isPending == true || text.length == 0") Post comment
</template>

<script>
    export default {
        name        : 'AddComment',
        props       : {
            isPending   : false,
            model       : null,
        },
        data        : function () {
            return {
                text : ''
            }
        },
        computed : {
            checkUpdateParent () {
                
            },
        },
        watch : {
            "model" : {
                handler (nV, oV) {
                    this.text = nV;
                }
            }
        },
        methods: {
            submit () {
                this.$emit('onPutComment', this.text);
            }
        }
    };
</script>