<template lang='pug'>
	b-nav-item-dropdown.demo-navbar-user
		template(slot='button-content')
			span.d-inline-flex.flex-lg-row-reverse.align-items-center.align-middle
				img.d-block.avatar-xs(:src='me.avatar', alt='')
				span.px-1.mr-lg-2.ml-0.ml-lg-0.d-sm-none.d-lg-inline {{ me.fullname }}
		b-dd-item(:to="{ name: prefix + 'profile'}")
			i.ion.ion-ios-person.text-lightest
			|    My profile
		b-dd-item(:to="{ name: prefix + 'settings'}")
			i.ion.ion-md-settings.text-lightest
			|    Settings
		b-dd-item(@click='logout()')
			i.ion.ion-ios-log-out.text-danger
			|    Log Out

</template>

<script>
import router from '@/router'
import { mapGetters } from 'vuex'

export default {
	name    : 'CuiUserMenu',
	data () {
		return {
			prefix : ''
		}
	},
	created () {
		this.prefix = typeof router.history.current.matched[0].name == 'undefined' ? '' : router.history.current.matched[0].name;
	},
  methods: {
    logout () {
      this.$store.dispatch("users/logout");
      this.$router.replace({name : 'login'});
    }
	},
	computed : {
    ...mapGetters({
      me          : "users/isLogged",
    })
  }
}
</script>
