<template lang='pug'>
	button.btn.btn-outline-primary.scrollTop(@click='up' :style="{visibility: visible ? 'visible' : 'hidden', opacity: visible ? 1 : 0}")
		i.ion.ion-ios-arrow-up
</template>

<script>
export default {
	name    : 'up-btn',
	data () {
		return {
			visible: false
		}
	},
	created () {
		
	},
	beforeMount () {
		window.addEventListener('scroll', () => this.onScroll.call(null, this) );
	},
	beforeDestroy () {
		window.removeEventListener('scroll', () => this.onScroll.call(null, this));
	},

	methods: {
		onScroll: ( $this ) => {
			$this.visible = window.scrollY > 100;
		},
		up: () => {
			window.scrollTo(0, 0);
		}
	}
}
</script>