<template lang="pug">
	b-card.mb-4(no-body)
		b-card-header.media.align-items-center.card-header__idea
			img.d-block.ui-w-50.rounded-circle(alt :src='user.avatar')
			.media-body.media.ml-3
				.media-body
					router-link.mb-0.font-weight-bold(tag='h5' :to="`${$route.matched[0].path}/${user.username}`") {{ user.fullname }}
					.text-muted.small {{ user.username }}
		b-card-body.pb-0(v-html='text')
		b-card-body.pt-2
			.text-muted.small {{ date | dateDDMMMMYYYY }}
</template>

<script>
	import Vue from 'vue'
	import moment from 'moment'
	
	export default {
		name 		: 'CuiCardUserText',
		props 		: {
			user 	: {},
			text 	: '',
			date 	: ''
		}
	}
</script>
