<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='fiat' slot-scope='data')
			| {{ data.item.coins.map( (v) => v.isFiat ? v.symbol.toUpperCase() : '' ).join('') }}

		template(slot='pairs' slot-scope='data')
			div(v-for='p in data.item.pairs' :key='p.symbol') {{ p.symbol }}
		
		template(slot='country' slot-scope='data')
			i.flag-icon.w-100(v-if='data.item.country != null' :class="'flag-icon-' + data.item.country.id.toLowerCase()" :title='data.item.country.value')
		
		template(slot='site' slot-scope='data')
			a(:href='data.item.site' target='_blank') {{data.item.site}}
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableExchanges',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 	: ['name', 'fiat', 'country', 'pair', 'site'],
				noLocalSorting	: true,
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					
					if ( ctx.sortBy == null ) { return; }

					direction 		= ctx.sortBy == 'date' ? (direction == 'desc' ? 'asc' : 'desc') : direction;
	
					data[`order[${ctx.sortBy}]`] = direction;
					this.isbusy = true;
					this.getItems( data );
				},
			    fields 	: [
					{ key: 'name', tdClass: 'align-middle' },
					{ key: 'rank', sortable: true, tdClass: 'align-middle' },
					{ key: 'country', tdClass: 'align-middle' },
					{ key: 'fiat', tdClass: 'align-middle text-nowrap' },
					{ key: 'pairs', tdClass: 'align-middle' },
					{ key: 'trades', label: '24h Trades', sortable: true, tdClass: 'align-middle text-nowrap' },
					{ key: 'volume', label: '24h Volume', sortable: true, tdClass: 'align-middle' },
					{ key: 'marketshare', sortable: true, tdClass: 'align-middle' },
					{ key: 'site', sortable: true, tdClass: 'align-middle' },
			    ],
			}
		},
		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {	
				this.$store.dispatch('market/getExchanges', _.extend({itemsPerPage: this.perPage, page: this.currentPage}, data, this.parseFilters()))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableExchangesRefresh', () => {
				this.sorting(this);
			});

			this.sorting(this);
		},
		created () {
			
		},
		destroyed () {
			bus.$off('tableExchangesRefresh');
		},
		computed : {
			...mapGetters({
				items 		: 'market/getExchanges',
				totalItems	: 'market/getTotalExchanges',
				isPending 	: 'market/isPending',
				isFailure 	: 'market/isFailure',
			})
		},
		methods : {
			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => {
					return o[i] = f.id || f.value;
				});
			},
		}
	}
</script>