<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='username' slot-scope='data')
			.media.align-items-center
				img.float-left.avatar-xs(:src="data.item.avatar")
				.media-body.ml-3
					strong {{ data.item.username }}
					div {{ data.item.fullname }}
		
		template(slot='profit' slot-scope='data')
			.d-flex.align-items-center.position-relative.m-auto(style="height:60px;width:60px;")
				dashboard4-chart1.w-100.position-absolute(:height="60" :width="60" style='top:0' :chart-id="'profit' + data.index")
				.w-100.text-center.font-weight-bold {{data.item.profit}}%

		template(slot='registeredAt' slot-scope='data')
			| 1 month

		template(slot='actions' slot-scope='data')
			b-dropdown(variant='p-1 bg-transparent icon-btn md-btn-flat hide-arrow')
				template(slot='button-content'): i.ion.ion-md-more
				b-dropdown-item(@click='openModalUser(data.item)') Edit
				b-dropdown-item(@click='blockUser(data)') Block
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'
	import router from '@/router'

	import Vue from 'vue'
	import VueChartJs from 'vue-chartjs'

	Vue.component('dashboard4-chart1', {
		extends: VueChartJs.Doughnut,
		mounted () {
			setTimeout(() => {
				this.renderChart({
					datasets: [{
						data: [63, 37],
						backgroundColor: ['#584A82', 'rgba(255, 255, 255, .1)'],
						hoverBackgroundColor: ['#584A82', 'rgba(255, 255, 255, .1)'],
						borderWidth: 0
					}]
					}, {
					scales: {
						xAxes: [{
							display: false
						}],
						yAxes: [{
							display: false
						}]
					},
					legend: {
						display: false
					},
					tooltips: {
						enabled: false
					},
					cutoutPercentage: 94,
					responsive: false,
					maintainAspectRatio: false
				})
			},1000);
		}
	});

	export default {
		name 		: 'CuiTablePeople',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 		: ['login'],
				hover			: true,
				striped 		: false,
				bordered 		: false,
				showempty		: true,
				noLocalSorting	: true,
				rowclick		: (item, index, event) => {
					//if its admin. else
					router.push(`${item.username}`);
				},
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					
					direction 		= ctx.sortBy == 'date' ? (direction == 'desc' ? 'asc' : 'desc') : direction;

					data[`order[${ctx.sortBy}]`] = direction;
					this.isbusy = true;
					this.getItems( data );
				},
			    fields		: [
					{
						key 		: 'username',
						label 		: 'People',
						tdClass 	: 'align-middle',
						thClass 	: 'text-center'
					},
					{
						key 		: 'followersCnt',
						label 		: 'Followers',
						sortable 	: true,
						tdClass 	: 'align-middle text-center',
						thClass 	: 'text-center'
					},
					{
						key 		: 'ideasCnt',
						label 		: 'Ideas',
						sortable 	: true,
						tdClass 	: 'align-middle text-center',
						thClass 	: 'text-center'
					},
					{
						key 		: 'profit',
						label 		: 'Profitable',
						sortable 	: true,
						tdClass 	: '',
						thClass 	: 'text-center'
					},
					{
						key 		: 'avgProfit',
						label 		: 'Avg. Return',
						sortable 	: true,
						tdClass 	: 'align-middle text-center text-success',
						thClass 	: 'text-center text-nowrap',
						formatter 	: function (v) { return v + "%"; }
					},
					{
						key 		: 'avgLoss',
						label 		: 'Avg. Loss',
						sortable 	: true,
						tdClass 	: 'align-middle text-center text-danger',
						thClass 	: 'text-center text-nowrap',
						formatter 	: function (v) { return v + "%"; }
					},
					{
						key 		: 'registeredAt',
						label 		: 'Registered',
						sortable 	: true,
						tdClass 	: 'align-middle text-center',
						thClass 	: 'text-center'
					}
			    ],
			}
		},

		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {	
				this.$store.dispatch('users/getItems', _.extend({itemsPerPage: this.perPage, page: this.currentPage}, data, this.parseFilters()))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableUsersRefresh', () => {
				this.sorting(this);
			});

			this.sorting(this);
		},
		created () {
			
		},
		destroyed () {
			bus.$off('tableUsersRefresh');
		},
		computed : {
			...mapGetters({
				items 		: 'users/getItems',
				totalItems	: 'users/getTotal',
				isPending 	: 'users/isPending',
				isFailure 	: 'users/isFailure',
			})
		},
		methods : {
			openModalUser ( item ) {
				this.$emit('onEditUser', _.cloneDeep(item));
			},

			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => o[i] = f.id || f.value );
			}
		}
	}
</script>