<template lang="pug">
	b-card-body.pt-0.pb-3.table-pagination(v-if='!hideInfo || !hidePagination')
		.row
			.col-sm.text-sm-left.text-center.pt-3(v-if='!hideInfo')
				span.text-muted(v-if='totalItems') Page {{ currentPage }} of {{ totalPages }}
			.col-sm.pt-3(v-if='!hidePagination')
				b-pagination.justify-content-center.justify-content-sm-end.m-0(
					v-if='totalItems'
					v-model='currentPage'
					:total-rows='totalItems'
					:per-page='perPage'
					prev-text='Previous'
					next-text='Next'
					:hide-goto-end-buttons='true'
					
					size='sm'
					@change="onchange")
</template>

<script>
	export default {
		name 	: 'CuiTableElPagination',
		props 	: {
			hideInfo 		: false,
			hidePagination 	: false,
			perPage 		: {
				type 	: Number,
				default : 10
			},
			currentPage 	: {
				type 	: Number,
				default : null
			},
			totalPages		: {
				type 	: Number,
				default : 0
			},
			totalItems 		: {
				type 	: Number,
				default : 0
			}
		},
		data () {
			return {
				
			}
		},
		created () {
			
		},
		
		methods : {
			onchange ( page ) {
				this.$emit("changepage", page);
			}
		}
	}
</script>