<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='returned' slot-scope='data')
			span(:class="{'text-success' : data.item.returned > 0, 'text-danger': data.item.returned < 0}") {{ data.item.returned }}%
		template(slot='ex_return' slot-scope='data')
			span(:class="{'text-success' : data.item.ex_return > 0, 'text-danger': data.item.ex_return < 0}") {{ data.item.ex_return }}%
		template(slot='bgci' slot-scope='data')
			span(:class="{'text-success' : data.item.bgci > 0, 'text-danger': data.item.bgci < 0}") {{ data.item.bgci }}%
		template(slot='HEAD_cam' slot-scope='cell') 
			| {{ cell.label }} &nbsp;
			a.text-secondary(@click.stop="" href='https://www.crypto30.com/index/' target='_blank')
				i.fas.fa-external-link-alt
		
		template(slot='HEAD_bgci' slot-scope='cell') 
			| {{ cell.label }} &nbsp;
			a.text-secondary(@click.stop="" href='https://www.bloomberg.com/quote/BGCI:IND' target='_blank')
				i.fas.fa-external-link-alt

		template(slot='HEAD_crix' slot-scope='cell') 
			| {{ cell.label }} &nbsp;
			a.text-secondary(@click.stop="" href='http://thecrix.de/' target='_blank')
				i.fas.fa-external-link-alt
		
		
			
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'
	import api from '@/api/modules/statistics'

	export default {
		name 		: 'CuiTableStatistics',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				sortBy 	: 'date',
				sortDesc: true,
			    fields 	: [
					{ key: 'date', sortable: true, tdClass: 'align-middle', formatter: function (v) { return moment( new Date(v) ).format('MMMM YYYY'); } },
					{ key: 'open', sortable: true, tdClass: 'align-middle' },
					{ key: 'closed', sortable: true, tdClass: 'align-middle' },
					{ key: 'returned', label: 'Our return', sortable: true, tdClass: 'align-middle' },
					{ key: 'bgci', label: 'BGCI', sortable: true, tdClass: 'align-middle', formatter: function (v) { return v+"%"; } },
					{ key: 'cam', label: 'CamCrypto30', sortable: false, tdClass: 'text-center'},
					{ key: 'crix', label: 'CRIX', sortable: false, tdClass: 'text-center'},
					{ key: 'ex_return', label: 'Excess return', sortable: true, tdClass: 'align-middle' }
			    ]
			}
		},
		created () {
			this.$store.dispatch('statistics/getItems');
		},
		destroyed () {
		},
		computed : {
			...mapGetters({
				items 		: 'statistics/getItems',
				totalItems	: 'statistics/getTotal',
				isPending 	: 'statistics/isPending',
				isFailure 	: 'statistics/isFailure',
			})
		},
		methods : {
			openIdea () {
				// this.router
				// router-link(tag='a' :to="{ name: 'idea', params: { id: data.item.id }}" :exact='true') 
			}
		}
	}
</script>