<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='login' slot-scope='data')
			ul.list-unstyled.mb-0
				li
					router-link(tag='a' :to="{ name: 'user_results', params: { id: data.item.id }}" :exact='true') {{data.item.username}}
				li.text-secondary
					i {{data.item.fullname}}
		
		template(slot='status' slot-scope='data')
			span(:class="{'text-success' : data.item.status === 'active', 'text-secondary': data.item.status === 'disabled', 'text-danger': data.item.status === 'blocked'}") {{ data.item.status | capitalize}}
		
		template(slot='registeredAt' slot-scope='data')
			| {{ data.item.registeredAt | dateMMMDDYYYY }}

		template(slot='actions' slot-scope='data')
			b-dropdown(variant='p-1 bg-transparent icon-btn md-btn-flat hide-arrow')
				template(slot='button-content'): i.ion.ion-md-more
				b-dropdown-item(@click='openModalUser(data.item)') Edit
				b-dropdown-item(@click='blockUser(data)') Block
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIdeas',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 		: ['login', 'email'],
				noLocalSorting	: true,
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					
					direction 		= ctx.sortBy == 'date' ? (direction == 'desc' ? 'asc' : 'desc') : direction;

					data[`order[${ctx.sortBy}]`] = direction;
					this.isbusy = true;
					this.getItems( data );
				},
			    fields		: [
					{
						key 		: 'login',
						label 		: 'Login/Name',
						tdClass 	: 'align-middle',
						thClass 	: 'text-center'
					},
					{
						key 		: 'email',
						tdClass 	: 'align-middle',
						thClass 	: 'text-center'
					},
					{
						key 		: 'registeredAt',
						label		: 'Registered',
						sortable 	: true,
						tdClass 	: 'align-middle text-center',
						thClass 	: 'text-center'
					},
					{
						key 		: 'status',
						tdClass 	: 'align-middle text-center',
						thClass 	: 'text-center'
					},
					{
						key 		: 'actions',
						label 		: ' ',
						tdClass 	: 'text-nowrap align-middle text-center p-0'
					}
			    ],
			}
		},

		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {	
				this.$store.dispatch('users/getItems', _.extend({itemsPerPage: this.perPage, page: this.currentPage}, data, this.parseFilters()))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableUsersRefresh', () => {
				this.sorting(this);
			});

			this.sorting(this);
		},
		created () {
			this.searching = _.debounce( ( query ) => {	
				this.sorting(this);
			}, 400);	
		},
		destroyed () {
			bus.$off('tableUsersRefresh');
		},
		computed : {
			...mapGetters({
				items 		: 'users/getItems',
				totalItems	: 'users/getTotal',
				isPending 	: 'users/isPending',
				isFailure 	: 'users/isFailure',
			})
		},
		methods : {
			openModalUser ( item ) {
				this.$emit('onEditUser', _.cloneDeep(item));
			},

			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => o[i] = f.id || f.value );
			}
		}
	}
</script>