<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='date' slot-scope='data')
			| {{ data.item.date | dateMMMDDYYYY }}
		
		template(slot='coin' slot-scope='data')
			.media.align-items-center.position-relative
				span.badge.badge-dark.badge-pill.badge-ico(v-if="data.item.id % 4 == 0") ICO
				img.float-left.mr-2.ml-3(:src="data.getPaidCoin().icon" width='32' height='32')
				.media-body.ml-2
					.font-weight-semibold {{ data.getPaidCoin().name | uppercase }}
					.small.text-muted {{ data.getPaidCoin().id | uppercase }}
		
		template(slot='buy' slot-scope='data')
			p.mb-0 {{ data.item.getPrice() }} {{ data.item.getPaidCoin().id | uppercase }}
			.small {{ data.item.exchange.name }}
	
		template(slot='ex_profit' slot-scope='data')
			span.text-success {{ data.item.ex_profit }}%
		
		template(slot='comments' slot-scope='data')
			i.fas.fa-comment
			| {{ data.item.comments.length }}

		template(slot='empty')
			.alert.empty-subscription
				.row
					.col-md-6.offset-md-3.text-center
						.h4.text-primary Purchase membership to see current ideas and get access to all features
						b-btn(variant="primary") Buy subscription
			
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIdeasUser',
		mixins 		: [
			CuiTableMixin
		],
		props : {
			testNoSubscription: false,
		},
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 	: ['id', 'coin', 'user'],
				sortBy 		: 'date',
				sortDesc	: false,
				hover		: true,
				striped 	: false,
				bordered 	: false,
				showempty	: true,
			    fields 		: [
					{ key: 'coin', label: 'Coin/ICO', sortable: true, tdClass: 'align-middle text-nowrap', thClass: 'text-center' },
					{ key: 'date', sortable: true, tdClass: 'align-middle' },
					{ key: 'buy', label: 'Price', sortable: true, tdClass: 'align-middle' },
					{ key: 'ex_profit', label: 'Ex. Return', sortable: true, tdClass: 'align-middle text-center', thClass: 'text-center' },
					{ key: 'time_left', label: 'Horizon', sortable: true, tdClass: 'align-middle' },
					{ key: 'comments', label: ' ', tdClass: 'text-nowrap align-middle text-center p-0' }
			    ]
			}
		},
		created () {
			this.$store.dispatch('ideas/getItems');
			this.getItems = _.debounce( () => this.$store.dispatch('ideas/getItems', _.omitBy(this.filters, _.isNil)), 500);
			bus.$on('tableIdeasRefresh', this.getItems);
		},
		destroyed () {
			bus.$off('tableIdeasRefresh');
		},
		computed : {
			items () { return this.testNoSubscription ? [] : this.items2; },
			...mapGetters({
				items2 		: 'ideas/getItems',
				totalItems	: 'ideas/getTotal',
				isPending 	: 'ideas/isPending',
				isFailure 	: 'ideas/isFailure',
			})
		},
		methods : {
			openIdea () {
				// this.router
				// router-link(tag='a' :to="{ name: 'idea', params: { id: data.item.id }}" :exact='true') 
			}
		}
	}
</script>