<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='date' slot-scope='data')
			| {{ data.item.date | dateMMMDDYYYY }}
		
		template(slot='coin' slot-scope='data')
			.media.align-items-center.position-relative
				span.badge.badge-dark.badge-pill.badge-ico(v-if="data.item.type == 'ico'") ICO
				img.float-left.mr-2.ml-3(:src="data.item.getBuyedCoin().icon" width='32' height='32')
				.media-body.ml-2
					.font-weight-semibold {{ data.item.getBuyedCoin().name | uppercase }}
					.small.text-muted {{ data.item.getBuyedCoin().symbol | uppercase }}
		
		template(slot='price' slot-scope='data')
			p.mb-0 {{ data.item.getPrice() }} {{ data.item.getPaidCoin().symbol | uppercase }}
			.small {{ data.item.exchange.name }}
	
		template(slot='ex_profit' slot-scope='data')
			span(v-if='data.item.ex_profit != null' :class='{"text-success" : data.item.ex_profit > 0, "text-danger" : data.item.ex_profit < 0}') {{ data.item.ex_profit }}%

		template(slot='stoploss' slot-scope='data')
			span(v-if='data.item.stoploss.price != null' :class='{"text-success" : data.item.stoploss.percent > 0, "text-danger" : data.item.stoploss.percent < 0}') {{ data.item.stoploss.percent }}%
		
		template(slot='comments' slot-scope='data')
			i.fas.fa-comment
			| {{ data.item.comments.length }}
		
		template(slot='actions' slot-scope='data')
			b-dropdown(variant='p-1 bg-transparent icon-btn md-btn-flat hide-arrow')
				template(slot='button-content'): i.ion.ion-md-more
				b-dropdown-item(href='javascript:void(0)' v-if='!data.item.isClosed() && !data.item.isWatch()' @click.stop='openModalEdit(data.item)') Edit
				b-dropdown-item(v-on:click.stop="openNewTab($event, data.item.id)") View
			
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'
	import router from '@/router'

	export default {
		name 		: 'CuiTableProfile',
		mixins 		: [
			CuiTableMixin
		],
		props : {
			testNoSubscription: false,
			user : {
				type 	: Object,
				default : () => {}
			}
		},
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 	: ['id', 'coin', 'user'],
				sortBy 		: 'date',
				sortDesc	: false,
				hover		: true,
				striped 	: false,
				bordered 	: false,
				showempty	: true,
				rowclick	: (item,index,event) => {
					router.push(`${item.user.username}/ideas/${item.id}`);
				},
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					let name 		= ctx.sortBy;

					if ( name == null ) { return; }
					if ( name == 'ex_profit' ) name = 'profitExpected';

					direction 		= name == 'date' ? (direction == 'desc' ? 'asc' : 'desc') : direction;

					data[`order[${name}]`] = direction;
					
					this.isbusy = true;	
					this.getItems( data );
				},
			    fields 		: [
					{ key: 'coin', label: 'Coin/ICO', sortable: true, tdClass: 'align-middle text-nowrap', thClass: 'table-profile-first-th' },
					{ key: 'type', sortable: true, tdClass: 'align-middle' },
					{ key: 'price', label: 'Price', sortable: true, tdClass: 'align-middle' },
					{ key: 'ex_profit', label: 'Ex. Return', sortable: true, tdClass: 'align-middle text-center', thClass: 'text-nowrap' },
					{ key: 'date', label: 'Create date', sortable: true, tdClass: 'align-middle', thClass: 'text-nowrap' },
					{ key: 'horizon', sortable: true, tdClass: 'align-middle' },
					{ key: 'stoploss', sortable: true, tdClass: 'align-middle text-center' },
					{ key: 'comments', thClass: '', tdClass: 'text-nowrap align-middle text-center p-0' },
					{ key: 'actions', label: ' ', tdClass: 'text-nowrap align-middle text-center p-0' }
			    ]
			}
		},
		created () {
			this.getItems = _.debounce( ( data = {} ) => {
				this.$store.dispatch('ideas/getItems', _.extend({itemsPerPage: this.perPage, page: this.currentPage, user: this.user ? this.user.id : this.me.id}, data, this.parseFilters()))
					.then( v => {
						this.isbusy = false;
						this.$emit('onGetItems', this.totalItems );
					})
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableProfileRefresh', () => {
				this.currentPage = 1;
				this.$store.commit('ideas/setItems', []);
				this.sorting(this);
			});

			this.sorting(this);
		},
		destroyed () {
			bus.$off('tableProfileRefresh');
		},
		computed : {
			...mapGetters({
				items 		: 'ideas/getItems',
				totalItems	: 'ideas/getTotal',
				isPending 	: 'ideas/isPending',
				isFailure 	: 'ideas/isFailure',
				me 			: 'users/isLogged',
			})
		},
		methods : {
			openModalEdit ( item ) {
				this.$emit('onEditIdea', _.cloneDeep(item));
			},

			openNewTab ( e, id ) {
				e.preventDefault();
				let routeData = this.$router.resolve({name: 'profile_idea', params: {id: id}});
				window.open(routeData.href, '_blank').focus();
				return false;
			},

			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => {
					switch( i ) {
						case 'date' :
							let [a, b] = f.split(' to ');

							o['date[before]'] 	= moment(new Date(b)).format('YYYY-MM-DD\T00:00:00Z');
							o['date[after]'] 	= moment(new Date(a)).format('YYYY-MM-DD\T23:59:59Z');
							delete o.date;
							return o;
						
						case 'coin' :
							o['pair.coinFrom'] = f.id || f.value;
							delete o.coin;
							return o;
						
						case 'pair' :
							o['pair.coinTo'] = f.id || f.value;
							delete o.pair;
							return o;
					}

					return o[i] = f.id || f.value;
				});
			},
		}
	}
</script>