<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='date' slot-scope='data')
			a(:href="'#' + monthName(data.item.date)") {{ monthTitle(data.item.date) }}
		
		template(slot='projectname' slot-scope='data')
			span(v-if='data.item.projectname != null' :class="{'text-success' : data.item.projectname > 0, 'text-danger': data.item.projectname < 0}") {{ data.item.projectname }}
			span(v-if='data.item.projectname == null') No activity
		
		template(slot='bcgi' slot-scope='data')
			span(v-if='data.item.bcgi != null' :class="{'text-success' : data.item.bcgi > 0, 'text-danger': data.item.bcgi < 0}") {{ data.item.bcgi }}
		
		template(slot='crypto30' slot-scope='data')
			span(v-if='data.item.crypto30 != null' :class="{'text-success' : data.item.crypto30 > 0, 'text-danger': data.item.crypto30 < 0}") {{ data.item.crypto30 }}
		
		template(slot='crix' slot-scope='data')
			span(v-if='data.item.crix != null' :class="{'text-success' : data.item.crix > 0, 'text-danger': data.item.crix < 0}") {{ data.item.crix }}
	block pagination
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTablePerformance',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		// props 		: {
		// 	items 	: {
		// 		default : (() => []),
		// 		type 	: Array,
		// 	}
		// },
		data () {
			return {
				totalItems 	: null,
				striped 	: false,
				pagination 	: false,
				isbusy		: false,
				sorting () {
					// this.isbusy = true;
					// return this.getItems();
				},
			    fields 	: [
					{ key: 'date', label: ' ', sortable: false },
					{ key: 'projectname', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'bcgi', label: 'Bgci', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'crypto30', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'crix', thClass: 'text-center', tdClass: 'text-center align-middle' }
			    ]
			}
		},
		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {
				this.$store.dispatch('ideas/getPerformance', data)
					.then( v => {
						this.isbusy = false;
					 })
					.catch( v => this.isbusy = false );
			}, 500);

			// this.sorting(this);
		},

		created () {
			
		},

		destroyed () {
			
		},
		
		computed : {
			...mapGetters({
				items		: 'ideas/getPerformance',
				isPending 	: 'ideas/isPending',
				isFailure 	: 'ideas/isFailure'
			})
		},
		methods : {
			monthName ( v ) {
				return moment(new Date(v)).format('MMM');
			},

			monthTitle ( v ) {
				return moment(new Date(v)).format('MMM YYYY')
			},
			
			searching () {}		
		}
	}
</script>