<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='status' slot-scope='data')
			span(:class="{'text-success' : data.item.status === 'active', 'text-secondary': data.item.status === 'closed'}") {{ data.item.status | capitalize}}
		template(slot='date' slot-scope='data')
			| {{ data.item.date | dateMMMDDYYYY }}
		template(slot='actions' slot-scope='data')
			b-dropdown(variant='p-1 bg-transparent icon-btn md-btn-flat hide-arrow')
				template(slot='button-content'): i.ion.ion-md-more
				router-link(tag='b-dropdown-item' :to="{ name: 'ico', params: { id: data.item.id }}" :exact='true') View
				b-dropdown-item(href='javascript:void(0)') Edit
				b-dropdown-item(href='javascript:void(0)') Close
</template>

<script>
	import {bus} from '@/main.js';
	import {mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'
	import {Ico} from '@/models/ico'

	export default {
		name 		: 'CuiTableIco',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
			    searchKeys 	: ['id', 'coin', 'user'],
			    fields 	: [
					{ key: 'id', label: 'ID', tdClass: 'align-middle' }, //label: 'Person age',
					{ key: 'date', sortable: true, tdClass: 'align-middle' },
					{ key: 'name', label: 'Project', sortable: false, tdClass: 'align-middle' },
					{ key: 'short_name', label: 'Ticker', sortable: false, tdClass: 'align-middle' },
					{ key: 'hardcap', sortable: false, tdClass: 'align-middle text-nowrap' },
					{ key: 'expected', label: 'Ex. Return', sortable: true, tdClass: 'align-middle' },
					{
						key 		: 'sale',
						label 		: 'Token sale',
						sortable 	: true,
						tdClass 	: 'align-middle text-nowrap',
						formatter	: (v) => {
							return Ico.saleFormat(v);
						}
					},
					{ key: 'profit', label: 'Return', sortable: true, tdClass: 'align-middle' },
					{ key: 'status', tdClass: 'align-middle' },
					{ key: 'actions', label: ' ', tdClass: 'text-nowrap align-middle text-center p-0' }
			    ]
			}
		},
		created () {
			this.$store.dispatch('ico/getItems');
			this.getItems = _.debounce( () => {
				this.isbusy = true;
				this.$store.dispatch('ico/getItems', _.omitBy(this.filters, _.isNil))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);
			bus.$on('tableIcoRefresh', this.getItems);
		},
		destroyed () {
			bus.$off('tableIcoRefresh');
		},
		computed : {
			...mapGetters({
				items 		: 'ico/getItems',
				totalItems	: 'ico/getTotal',
				isPending 	: 'ico/isPending',
				isFailure 	: 'ico/isFailure',
			})
		},
		methods : {

		}
	}
</script>