<template lang="pug">
	extends /includes/components/table.pug
		
	block tableTH
		template(slot='date' slot-scope='data')
			| {{ data.item.date | dateMMMDDYYYY }}

		template(slot='case' slot-scope='data')
			div(v-html='data.item.case')
			
		template(slot='user' slot-scope='data')
			router-link(tag='a' target='_blank' :to="{ name: 'profile', params: { username: data.item.user.username }}" :exact='true') {{data.item.user.username}}
		
		template(slot='coin' slot-scope='data')
			.media.align-items-center
				img.float-left(:src="data.item.getBuyedCoin().icon" width='32' height='32')
				.media-body.ml-2
					strong {{ data.item.getBuyedCoin().name }}
					div {{ data.item.getBuyedCoin().symbol.toUpperCase() }}
		
		template(slot='price' slot-scope='data')
			| {{data.item.getPrice() }} {{data.item.getPaidCoin().symbol.toUpperCase()}}

		template(slot='exchange' slot-scope='data')
			| {{data.item.exchange.name}}

		template(slot='ex_growth' slot-scope='data')
			| {{ data.item.ex_growth }}{{ data.item.ex_growth !== null ? '%' : '' }}

		template(slot='ex_profit' slot-scope='data')
			| {{ data.item.ex_profit }}{{ data.item.ex_profit !== null ? '%' : '' }}

		template(slot='profit' slot-scope='data')
			span(:class="{'text-success' : data.item.profit > 0, 'text-danger': data.item.profit < 0}" v-if='data.item.profit !== null') {{ data.item.profit }}%

		template(slot='status' slot-scope='data')
			span(:class="{'text-success' : data.item.isActive(), 'text-secondary': data.item.isClosed()}") {{ data.item.status | capitalize }}
		
		template(slot='actions' slot-scope='data')
			b-dropdown(variant='p-1 bg-transparent icon-btn md-btn-flat hide-arrow')
				template(slot='button-content'): i.ion.ion-md-more
				b-dropdown-item(href='javascript:void(0)' v-if='!data.item.isClosed()' @click='openModalEdit(data.item)') Edit
				b-dropdown-item(v-on:click="openNewTab($event, data.item.id)") View
		
</template>

<script>
	import {bus} from '@/main.js'
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIdeas',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		data () {
			return {
				searchKeys 		: ['id', 'coin', 'user'],
				sortBy 			: 'date',
				sortDesc		: false,
				showempty		: true,
				isbusy			: true,
				noLocalSorting	: true,
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					let name 		= ctx.sortBy;

					if ( name == null ) { return; }

					direction 		= name == 'date' ? (direction == 'desc' ? 'asc' : 'desc') : direction;

					data[`order[${name}]`] = direction;
					
					this.isbusy = true;	
					this.getItems( data );
				},
			    fields 	: [
					{ key: 'id', label: 'ID', tdClass: 'align-middle' },
					// { key: 'case', label: 'Description', tdClass: 'align-middle' },
					{ key: 'date', sortable: true, tdClass: 'align-middle' },
					{ key: 'user', tdClass: 'align-middle' },
					{ key: 'coin', tdClass: 'align-middle text-nowrap' },
					{ key: 'type', tdClass: 'align-middle text-nowrap' },
					{ key: 'price', tdClass: 'align-middle' },
					{ key: 'exchange', tdClass: 'align-middle text-nowrap' },
					{ key: 'ex_growth', label: 'Ex. Upside', sortable: true, tdClass: 'align-middle', thClass: 'text-nowrap'},
					{ key: 'ex_profit', label: 'Ex. Return', sortable: true, tdClass: 'align-middle', thClass: 'text-nowrap'},
					{ key: 'targets', sortable: true, tdClass: 'align-middle', formatter: function (v) { return v.reduce( (s, i) => s + (i.isClosed() ? 1 : 0), 0)+"/"+v.length; } },
					{ key: 'horizon', sortable: true, tdClass: 'align-middle' },
					{ key: 'upside', label: 'Upside', sortable: true, tdClass: 'align-middle', formatter: (v) => v != null ? `${v}%` : '' },
					{ key: 'profit', label: 'Return', sortable: true, tdClass: 'align-middle'},
					{ key: 'time', sortable: true, tdClass: 'align-middle', formatter: (v) => `${v} day${v > 1 ? 's' : ''}` },
					{ key: 'status', tdClass: 'align-middle' },
					{ key: 'actions', label: ' ', tdClass: 'text-nowrap align-middle text-center p-0' }
			    ]
			}
		},
		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {
				this.$store.dispatch('ideas/getItems', _.extend({itemsPerPage: this.perPage, page: this.currentPage}, data, this.parseFilters()))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableIdeasRefresh', () => {
				this.currentPage = 1;
				this.$store.commit('ideas/setItems', []);
				this.sorting(this);
			});

			this.sorting(this);
		},

		created () {
			this.searching = _.debounce( ( query ) => {	
				this.filters.id = {id: query};
				this.sorting(this);
			}, 400);	
		},

		destroyed () {
			bus.$off('tableIdeasRefresh');
		},
		
		computed : {
			...mapGetters({
				items		: 'ideas/getItems',
				totalItems	: 'ideas/getTotal',
				isPending 	: 'ideas/isPending',
				isFailure 	: 'ideas/isFailure',
			})
		},
		methods : {
			openModalEdit ( item ) {
				this.$emit('onEditIdea', _.cloneDeep(item));
			},
			
			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => {
					switch( i ) {
						case 'date' :
							let [a, b] = f.split(' to ');

							o['date[before]'] 	= moment(new Date(b)).format('YYYY-MM-DD\T00:00:00Z');
							o['date[after]'] 	= moment(new Date(a)).format('YYYY-MM-DD\T23:59:59Z');
							delete o.date;
							return o;
						
						case 'coin' :
							o['pair.coinFrom'] = f.id || f.value;
							delete o.coin;
							return o;
						
						case 'pair' :
							o['pair.coinTo'] = f.id || f.value;
							delete o.pair;
							return o;
					}

					return o[i] = f.id || f.value;
				});
			},

			openNewTab ( e, id ) {
				e.preventDefault();
				let routeData = this.$router.resolve({name: 'idea', params: {id: id}});
				window.open(routeData.href, '_blank').focus();
				return false;
			},

			// PRINT
			printHorizon ( item ) {
				let out 	= {},
					text 	= [];
				_.each(item.targets, (t) => {
					out[t.horizon] ? out[t.horizon].push(1) : out[t.horizon] = [];
				})

				_.each(out, (index, value, key) => {
					text.push(out[value].lenth > 1 ? `${out[value].lenth}x ${value}` : value) 
				});

				return text.join(', ');
			}
		}
	}
</script>