<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='profit' slot-scope='data')
			span(:class="{'text-success' : data.item.profit > 0, 'text-danger': data.item.profit < 0}" v-if='data.item.profit !== null') {{ data.item.profit }}%
			
		template(slot='avg_profit' slot-scope='data')
			span(:class="{'text-success' : data.item.avg_profit > 0, 'text-danger': data.item.avg_profit < 0}" v-if='data.item.avg_profit') {{ data.item.avg_profit }}%
		
	block pagination
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIdeas',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		props : {
			name : '',
			list : {
				default : ( v => [] ),
				type 	: Array
			}
		},
		data () {
			return {
				itemsList 		: [],
				perPage 		: 1000,
				sortBy 			: 'idd',
				sortDesc		: false,
				showempty		: true,
				totalItems 		: null,
				striped 		: false,
				pagination 		: false,
				isbusy			: false,
				sorting (ctx) {
					
				},
			    fields 	: [
					{ key: 'exchange', tdClass: 'align-middle' },
					{ key: 'id', label: 'ID', tdClass: 'align-middle' },
					{ key: 'date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 'pair', tdClass: 'align-middle text-nowrap' },
					{ key: 'type', tdClass: 'align-middle' },
					{ key: 'price', tdClass: 'align-middle' },
					{ key: 't1', label: 'T1', tdClass: 'align-middle' },
					{ key: 't1_date', label: 'T1 Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 't2', label: 'T2', tdClass: 'align-middle' },
					{ key: 't2_date', label: 'T2 Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 'sl', label: 'SL', tdClass: 'align-middle' },
					{ key: 'sl_date', label: 'SL Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 'sl_adj1', label: 'SL ADJ 1', tdClass: 'align-middle' },
					{ key: 'adj_date1', label: 'ADJ Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 'sl_adj2', label: 'SL ADJ 2', tdClass: 'align-middle' },
					{ key: 'adj_date2', label: 'ADJ Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					// { key: 'exit_date', tdClass: 'align-middle' },
					// { key: 'exit_price', tdClass: 'align-middle' },
					{ key: 'profit', label: 'Return', tdClass: 'align-middle' },
					{ key: 'avg_profit', label: 'Avg Return', tdClass: 'align-middle td-group' },
					{ key: 'closed_date', label: 'Closed Date', tdClass: 'align-middle', formatter: (v) => v ? moment(new Date(v)).format('DD MMM YYYY') : '' },
					{ key: 'status', tdClass: 'align-middle' },
			    ]
			}
		},
		mounted () {

		},

		created () {
			
		},

		destroyed () {
			
		},
		
		computed : {
			items () {
				this.prepareItems(this.list);

				return _.map(this.itemsList, (v,i) => {
					let c_g 	= 'secondary';
					let c_w 	= '';
					let c_prev 	= i == 0 ? c_g : this.itemsList[i-1]._rowVariant; 
					let c 		= i == 0 ? c_g : (this.itemsList[i-1].pair == v.pair ? c_prev : (c_prev == c_g ? c_w : c_g));

					v._rowVariant = c;
					// v._rowVariant = v.profit < 0 ? 'danger' : 'success';
					if ( v.avg_month_profit ) {
						this.$emit('getavgmonthlyprofit', v.avg_month_profit, this.name  )
					}

					return v;
				});
			}, 
			...mapGetters({
				// itemsList	: 'ideas/getResults',
				isPending 	: 'ideas/isPending',
				isFailure 	: 'ideas/isFailure'
			})
		},
		methods : {	
			searching () {},
			prepareItems ( list ) {
				let avg_month_profit 	= (list.reduce((sum, v) => sum + Number(v.profit), 0) / list.length).toFixed(2);
				let avg_profit_pairs 	= {};

				_.each(list, (v, i) => {
					if ( !avg_profit_pairs[v.pair] ) {
						avg_profit_pairs[v.pair] = [];
					}
					
					avg_profit_pairs[v.pair].push(v.profit);

					if ( i+1 == Math.round(list.length/2) ) {
						v.avg_month_profit = avg_month_profit;
					}
				});

				_.each(avg_profit_pairs, (v, i) => {
					let avg 	= (v.reduce((sum, val) => sum + Number(val), 0) / v.length).toFixed(2);
					let amount 	= avg_profit_pairs[i].length;
					let amountI = 0;

					_.each(list, (it, j) => {
						if ( it.pair == i) {
							amountI++;
							
							if ( amountI == Math.round(amount/2) )
								it.avg_profit = avg;
						}
					})
				});

				this.itemsList = list;
			}
		}
	}
</script>