<template lang="pug">
	extends /includes/components/table.pug

	block tableTH
		template(slot='group' slot-scope='data')
			| {{ printGroup(data.item.start) }}

	block pagination
</template>

<script>
	import {bus} from '@/main.js';
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIndex',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		props : {
			items : {
				default : () => [],
				type 	: Array
			}
		},
		data () {
			return {
				totalItems 	: null,
				striped 	: false,
				pagination 	: false,
				isbusy		: false,
			    fields 	: [
					{ key: 'start', sortable: false },
					{ key: 'end', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'open', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'close', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'low', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'high', thClass: 'text-center', tdClass: 'text-center align-middle' },
					{ key: 'group', thClass: 'text-center', tdClass: 'align-middle' },
					{ key: 'diff', label:'Diff, %', thClass: 'text-center', tdClass: 'text-center align-middle' }
			    ]
			}
		},
		mounted () {

		},

		created () {
			
		},

		destroyed () {
			
		},
		
		computed : {
		
		},

		methods : {
			printGroup (v) {
				return moment(new Date(v)).format('YYYY MMMM');
			}
		}
	}
</script>