<template lang="pug">
	extends /includes/components/table.pug
	
	block tableTH
		template(slot='id' slot-scope='data')
			| {{ perPage*(currentPage-1)+(data.index + 1) }}

		template(slot='price' slot-scope='data')
			b-badge.badge-gray.display-5.w-100.font-weight-normal(variant='default') $ 6432
			
		template(slot='value' slot-scope='data')
			.display-5 $ 254.29 M

		template(slot='value_total' slot-scope='data')
			.display-5 $ 1.62 B

		template(slot='cap' slot-scope='data')
			.display-5 $ 113.59 B

		template(slot='chart' slot-scope='data')
			img(src='/static/img/tmp/chart1.png')
		
		template(slot='change' slot-scope='data')
			b-badge.badge-gray.display-5.w-100.font-weight-normal(variant='default' :class="calculateClass(data.index)") {{data.index % 2 == 0 ? '-' : ''}}0.5%

		template(slot='symbol' slot-scope='data')
			.media.align-items-center
				img.float-left(:src="data.item.coinFrom.icon" width='32' height='32')
				.media-body.ml-2
					strong {{ data.item.coinFrom.name }}
					div {{ data.item.coinFrom.symbol.toUpperCase() }} {{totalItems}}
		
		template(slot='actions' slot-scope='data')
			b-btn(variant='default' size='sm' v-b-tooltip="'Add to Watchlist'" v-if="rand(data.index)")
				i.ion.ion-md-add(@click='addToWatchlist(data.item.id)')
			b-btn(variant='primary' size='sm' v-b-tooltip="'Its in Watchlist'" v-else)
				i.ion.ion-md-checkmark(@click='removeFromWatchlist(data.item.id)')
		
</template>

<script>
	import {bus} from '@/main.js'
	import router from '@/router'
	import {mapActions, mapGetters} from 'vuex'
	import CuiTableMixin from './CuiTableMixin'
	import CuiTableElSearch from './CuiTableElSearch'
	import CuiTableElPagination from './CuiTableElPagination'
	import moment from 'moment'

	export default {
		name 		: 'CuiTableIdeas',
		mixins 		: [
			CuiTableMixin
		],
		components 	: {
			CuiTableElSearch,
			CuiTableElPagination
		},
		props: {
			page : {
				type: Number,
				default: 1
			}
		},
		data () {
			return {
				searchKeys 		: ['id', 'name'],
				perPage			: 10,
				sortBy 			: 'symbol',
				sortDesc		: false,
				hover			: true,
				striped 		: false,
				bordered 		: false,
				showempty		: true,
				noLocalSorting	: true,
				sorting			: (ctx) => {
					let data 		= {};
					let direction	= ctx.sortDesc ? 'desc' : 'asc';
					let name 		= ctx.sortBy;

					if ( name == null ) { return; }

					data[`order[${name}]`] = direction;
					
					this.isbusy 	= true;	
					this.getItems( data );
				},
			    fields 	: [
					{ key: 'id', label: '#', tdClass: 'align-middle' },
					{ key: 'symbol', label: 'Coin', tdClass: 'align-middle' },
					{ key: 'price', thClass: 'text-center', tdClass: 'align-middle text-center' },
					{ key: 'value', label: 'Direct Vol.24H', thClass: 'text-center', tdClass: 'align-middle text-center' },
					{ key: 'value_total', label: 'Total Vol.24H', thClass: 'text-center', tdClass: 'align-middle text-center' },
					{ key: 'cap', label: 'Market Cap', thClass: 'text-center', tdClass: 'align-middle text-center text-nowrap' },
					{ key: 'chart', label: '7d Chart', thClass: 'text-center', tdClass: 'align-middle text-center text-nowrap' },
					{ key: 'change', label: 'Chg.24H', thClass: 'text-center', tdClass: 'align-middle text-center text-nowrap' },
					{ key: 'actions', label: '', tdClass: 'align-middle text-center text-nowrap' }
			    ]
			}
		},
		mounted () {
			this.getItems = _.debounce( ( data = {} ) => {
				this.$store.dispatch('market/getPairs', _.extend({itemsPerPage: this.perPage, page: this.currentPage}, data, this.parseFilters()))
					.then( v => this.isbusy = false )
					.catch( v => this.isbusy = false );
			}, 500);

			bus.$on('tableCoinsRefresh', ({page}) => {
				this.currentPage 	= page ? Number(page) : 1;
				this.$store.commit('market/setPairs', []);
				this.sorting(this);
			});

			this.currentPage = this.page;
			this.sorting(this);
		},

		created () {
			this.searching = (() => {});
		},

		destroyed () {
			bus.$off('tableCoinsRefresh');
		},
		
		computed : {
			...mapGetters({
				items		: 'market/getPairs',
				totalItems	: 'market/getTotalPairs',
				isPending 	: 'market/isPending',
				isFailure 	: 'market/isFailure',
			})
		},
		
		methods : {
			addToWatchlist ( id ) {
				this.$store.dispatch('ideas/putToWatchlist', {id: id})
			},

			removeFromWatchlist ( id ) {
				this.$store.dispatch('ideas/deleteFromWatchlist', {id: id})
			},
			
			parseFilters () {
				return _.each(_.omitBy(this.filters, _.isNil), (f, i, o) => {
					switch( i ) {												
						case 'pair' :
							o['coinTo'] = f;
							delete o.pair;
							return o;
					}

					return o[i] = f.id || f.value;
				});
			},

			calculateClass ( index ) {
				return index % 2 == 0 ? 'text-danger' : 'text-success';
			},

			rand ( index ) {
				return index % 2 == 0;
			},

			pageChanged (v) {
				this.currentPage = v;
				router.push({name: router.history.current.name, params: {page: v, pair: this.$route.params.pair}});
			}
		}
	}
</script>