<template lang="pug">
	b-card-body.table-search.justify-content-xs-around(v-if='!hideSearch || !hidePerPage')
		.row.dataTables_wrapper
			.col.dataTables_length(v-if='!hidePerPage') Show: &nbsp;
				b-select.d-inline-block.w-auto(size='md' v-model='perPageLocal' :options='optionsPages' @input='page()') entries
			.col(v-if='!hideSearch')
				b-input.d-inline-block.w-auto.float-sm-right(size='md' placeholder='Search...' @input='search($event)')
</template>

<script>
	export default {
		name 	: 'CuiTableElSearch',
		props 	: {
			hideSearch 		: false,
			hidePerPage 	: false,
			optionsPages 	: {
				type 	: Array,
				default : () => [10,25,50,100]
			},
			perPage 		: {
				type 	: Number,
				default : 25
			}
		},
		data () {
			return {
				
			}
		},
		created () {
			this.perPageLocal = this.perPage
		},
		computed : {},
		methods : {
			search ( value ) {
				this.$emit("search", value);
			},
			page () {
				this.$emit("changeperpage", this.perPageLocal);
			}
		}
	}
</script>