<template lang="pug">
	div
		h4.font-weight-bold.py-3 Exchanges
		.ui-bordered.px-4.pt-4.mb-4
			.form-row.align-items-center
				.col-md.mb-4
					label.form-label Country
					multiselect(v-model='filters.country' :options='countries' :show-labels='false' label='text' placeholder='Type to search for a country')
				.col-md.mb-4
					label.form-label Fiat
					multiselect(
						v-model='filters.coin'
						:options='fiatList'
						:show-labels='false'
						:custom-label='nameWithSymbol'
						name='fiat'
						label='name'
						placeholder='Type to search for a fiat'
						:searchable="true",
						:loading="isSearchingCoin",
						:internal-search="true",
						:close-on-select="true",
						:clear-on-select="false",
						:preserveSearch="true"
						:reset-after="false"
						:limit-text="limitText",
						:max-height="600",
						:show-no-results="false",
						:hide-selected="false",
						@search-change="getFiat")
						template(slot="option", slot-scope="props")
							img.option__image(:src="props.option.icon" v-if='props.option.icon')
							span.option__title {{ props.option.name }} 
								span(v-if='props.option.symbol') ({{ props.option.symbol }})

				.col-md.mb-4
					label.form-label Pair
					multiselect(
						v-model='filters.pair'
						:options='pairList'
						:show-labels='false'
						:custom-label='onlySymbol'
						name='pair'
						label='name'
						placeholder='Type to search for a pair'
						:searchable="true",
						:loading="isSearchingCoin",
						:internal-search="true",
						:close-on-select="true",
						:clear-on-select="false",
						:preserveSearch="true"
						:reset-after="false"
						:limit-text="limitText",
						:max-height="600",
						:show-no-results="false",
						:hide-selected="false",
						@search-change="getPairs")
						template(slot="option", slot-scope="props")
							img.option__image(:src="props.option.icon" v-if='props.option.icon')
							span {{ props.option.symbol }}

				.col-md.col-xl-2.mb-4
					label.form-label.d-none.d-md-block &nbsp;
					b-btn(variant='secondary' :block='true' @click='refresh()') Show
		cui-table-exchanges(:filters='filters')
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<style src="@/vendor/libs/flag-icon/flag-icon.css"></style>

<script>
	import {bus} from '@/main.js';
	import { mapGetters, mapState } from 'vuex'
	import flatPickr from 'vue-flatpickr-component'
	import CuiTypeaheadCoins from '@/cui-components/forms/CuiTypeaheadCoins'
	import Multiselect from 'vue-multiselect'
	import CuiTableExchanges from '@/cui-components/tables/CuiTableExchanges'

	export default {
		name 		: 'Exchanges',
		metaInfo	: {
			title 	: 'Exchanges'
		},
		components: {
			flatPickr,
			CuiTypeaheadCoins,
			CuiTableExchanges,
			Multiselect
		},

		data 		: function () {
			return {
				model 		: {},
				filters 	: {
					country : null,
					fiat 	: null,
					pair 	: null
				}
			}
		},

		mounted() {
		},

		created () {
			this.$store.dispatch('market/getCountries');

			this.getFiat = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getFiat', {orSearch_fullname: query, 'order[name]' : 'asc'});
			}, 400);

			this.getPairs = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getPairs', {symbol: query, 'order[name]' : 'asc'});
			}, 400);			

			this.getFiat();
			this.getPairs();
		},

		ready () {

		},

		computed: {
			pairList () 	{ return [{symbol: "All", value: null}].concat(this.pairs); },
			fiatList () 	{ return [{name: "All", value: null}].concat(this.fiat); },
			...mapGetters({
				pairs 			: "market/getPairs",
				countries 		: "market/getCountries",
				fiat 			: "market/getFiat",
				isSearchingCoin : 'market/isPending',
			})
		},

		methods: {
			refresh () {
				bus.$emit("tableExchangesRefresh");
			},

			limitText (count) {
				return `and ${count} other countries`
			},

			nameWithSymbol ( {name, symbol} ) {
				return `${name} (${symbol})`;
			},

			onlySymbol ( {name, symbol} ) {
				return `${symbol}`;
			},
		},
	}
</script>
