<template lang="pug">
    div(v-if='idea')
        h4.font-weight-bold.py-3.mb-4(v-if='!isProfileIdea')
            span.text-muted Ideas / 
            | {{ idea.getBuyedCoin().symbol.toUpperCase() }}{{ idea.getPaidCoin().symbol.toUpperCase() }}{{ idea.id }}
        
        h4.font-weight-bold.py-3.mb-4(v-if='isProfileIdea')
            router-link(:to="`${$route.matched[0].path}/people`")
                span.text-muted People 
            span.text-muted / 
            router-link(:to="`${$route.matched[0].path}/${profile.username}`")
                span.text-muted {{ profile.username | capitalize }} 
            span.text-muted / 
            | {{ idea.getBuyedCoin().symbol.toUpperCase() }}{{ idea.getPaidCoin().symbol.toUpperCase() }}{{ idea.id }}

        b-card.mb-4.card__idea(no-body)
            b-card-header.card-header__idea
                .row
                    .col-md-8.col-lg-9.media.align-items-center
                        img.d-block.ui-w-60.rounded-circle(alt :src='idea.getBuyedCoin().icon')
                        .media-body.media.ml-3.align-items-center
                            .media-body
                                h5.mb-0 {{ idea.getBuyedCoin().name }}
                                div.text-muted.small {{ idea.getBuyedCoin().symbol.toUpperCase() }}

                    .col-md-4.col-lg-3
                        .btn.btn-lg.cursor-default.w-100.font-weight-bold(size='lg' :class="{'bg-green' : idea.isActive() || idea.isBuyed(), 'bg-gray': idea.isClosed()}") {{ idea.status | capitalize}}
                        b-btn.w-100.font-weight-bold.mt-3(size='lg' variant='default' v-if='profile && profile.id == idea.user.id' @click='openModalEdit()') Edit

            b-card-body
                .row
                    div(:class="{'col-md-8 col-lg-9' : !idea.isWatch(), 'col' : idea.isWatch()}")
                        cui-chart-idea(:idea='idea' :height='300' @onHover='onChartHover')
                    div(style='max-height:300px' :class="{'col-md-4 col-lg-3' : !idea.isWatch(), 'd-none' : idea.isWatch()}")
                        cui-chart-aside-info.w-100.h-100.float-right(:idea='idea' v-show="!showBars || idea.isWatch()")
                        cui-chart-aside-idea.w-100.h-100.float-right(:idea='idea' v-show='showBars && !idea.isWatch()')

        .row
            .col-lg-9.col-md-8
                cui-list-news(:items='idea.news')
                cui-card-user-text(:user='idea.user' :text='idea.case' :date='idea.date')
                cui-comments(:items='idea.comments' v-if='idea.comments.length > 0')
                cui-add-comment(@onPutComment='pushComment($event)' :model='textComment' :is-pending='pushCommentPending')
            .col-lg-3.col-md-4
                cui-info-idea(:idea='idea')
        
        cui-modal-idea-edit(:item='modelForEdit')
</template>

<script>
    import Vue from 'vue'
    import moment from 'moment'
	import {mapGetters, mapState, mapActions} from 'vuex'
    import CuiChartIdea from '@/cui-components/charts/CuiChartIdea'
    import CuiChartAsideIdea from '@/cui-components/charts/CuiChartAsideIdea'
    import CuiChartAsideInfo from '@/cui-components/charts/CuiChartAsideInfo'
    import CuiComments from '@/cui-components/CuiComments'
    import CuiAddComment from '@/cui-components/CuiAddComment'
    import CuiInfoIdea from '@/cui-components/info/CuiInfoIdea'
    import CuiListNews from '@/cui-components/CuiListNews'
    import CuiCardUserText from '@/cui-components/cards/CuiCardUserText'
    import CuiModalIdeaEdit from '@/cui-components/modals/CuiModalIdeaEdit'
    import Notification from '@/services/serviceNotification'

	export default {
        name 		: 'Idea',
        metaInfo () {
            return {
                title: this.getTitle
            }
        },
		components: {
            CuiChartIdea,
            CuiComments,
            CuiAddComment,
            CuiInfoIdea,
            CuiListNews,
            CuiCardUserText,
            CuiChartAsideIdea,
            CuiChartAsideInfo,
            CuiModalIdeaEdit
		},

		data 		: function () {
			return {
                showBars            : false,
                comments            : [],
                isProfileIdea       : false,
                authorIdea          : null,
                modelForEdit        : null,
                textComment         : null
            }
		},

		mounted () {
            
		},

		async created () {
            // console.log( this.$route.matched[0].path );
            
            this.isProfileIdea = this.$route.meta.profile;
            this.$store.commit('ideas/setOpened', null );

            if ( this.isProfileIdea && this.me.username == this.$route.params.username ) {
                this.$store.commit('setCurrent', this.me);
            }

            if ( this.isProfileIdea && _.isNil(this.profile) ) {
                this.$store.dispatch('users/getOne', {username: this.$route.params.username})
                    .catch( v => router.push('people') );
            }

            await this.$store.dispatch('ideas/getById', this.$route.params.id );
            this.$store.dispatch('ideas/comments', {idea: this.$route.params.id} );
		},

		ready () {

		},

		computed: {
            ...mapGetters({
                idea                : 'ideas/opened',
                me 	                : 'users/isLogged',
                profile		        : 'users/getCurrent',
                pushCommentPending  : 'ideas/isPendingPushComment',
            }),

            getTitle () {
                if ( this.idea ) {
                    return `${this.idea.getBuyedCoin().symbol.toUpperCase()}${this.idea.getPaidCoin().symbol.toUpperCase()}${this.idea.id}`
                }

                return 'Idea';
            }
		},

		methods: {
            pushComment ( text ) {
                this.$store.dispatch('ideas/putComment', {idea: this.idea.id, body: text, author: this.me.id} )
					.then( (c) => {
                        c.author = _.clone(this.me);

                        this.$store.commit('ideas/pushComment', {comment: c, ideaId: this.idea.id});
                        this.textComment = '';
					})
					.catch( (er) => {
                        Notification.error.call(this, er );    
                    });
            },

            openModalEdit () {
                this.modelForEdit = _.cloneDeep(this.idea);
            },

            onChartHover ( state ) {
                this.showBars = state;
            }
		},
	}
</script>
