<template lang="pug">
	div
		h4.font-weight-bold.py-3 Ideas
		router-link(:to="{ name: 'newidea'}" :exact='true')
			b-btn.mb-4(variant='primary') New idea
		
		//- Filters
		.ui-bordered.px-4.pt-4.mb-4
			.form-row.align-items-center
				.col-md.col-sm-3.mb-4
					label.form-label Date
					b-input-group
						flat-pickr(ref='datePickr' v-model='filters.date' :config="{ altInput: true, animate: !isRTL, dateFormat: 'Y-m-d', altFormat: 'M d, Y', mode: 'range', wrap: true }" :placeholder="!isIE ? 'Any' : null")
						b-input-group-append(v-show='filters.date')
							b-btn(size='sm' variant='outline-default' data-clear) x

				.col-md.col-sm-3.mb-4
					label.form-label User
					multiselect(name='user' label='text' placeholder='' v-model='filters.user' :options='usersList' :show-labels='false')

				.col-md.col-sm-3.mb-4
					label.form-label Coin
					multiselect(
						v-model='filters.coin'
						:options='coinsList'
						:show-labels='false'
						:custom-label='nameWithSymbol'
						name='coin'
						label='name'
						placeholder='Type to search for a coin'
						:searchable="true",
						:loading="isSearchingCoins",
						:internal-search="true",
						:close-on-select="true",
						:clear-on-select="false",
						:preserve-search="true"
						:reset-after="false"
						:limit-text="limitText",
						:max-height="600",
						:show-no-results="false",
						:hide-selected="false",
						@search-change="getCoins")
						template(slot="option", slot-scope="props")
							img.option__image(:src="props.option.icon" v-if='props.option.icon')
							span.option__title {{ props.option.name }} 
								span(v-if='props.option.symbol') ({{ props.option.symbol }})
				
				.col-md.col-sm-3.mb-4
					label.form-label Currency
					multiselect(name='pair' label='name' placeholder='' v-model='filters.pair' :options='pairsList' :show-labels='false')

				.col-md.col-sm-3.mb-4
					label.form-label Exchange
					multiselect(
						v-model='filters.market'
						:options='marketsList'
						:show-labels='false'
						label='name'
						placeholder='Type to search for an exchange'
						:searchable="true",
						:loading="isSearchingMarkets",
						:internal-search="true",
						:close-on-select="true",
						:clear-on-select="false",
						:preserve-search="true"
						:reset-after="false"
						:limit-text="limitText",
						:max-height="600",
						:show-no-results="false",
						:hide-selected="false",
						@search-change="getMarkets")
				.col-md.col-sm-3.mb-4
					label.form-label Status
					multiselect(v-model='filters.status' :options='statusList' :show-labels='false' label='text')

				.col-md.col-sm-3.mb-4
					label.form-label Type
					multiselect(name='type' label='name' placeholder='' v-model='filters.type' :options='typesList' :show-labels='false')
				
				.col-md.col-xl-2.mb-4
					label.form-label.d-none.d-md-block &nbsp;
					b-btn(variant='secondary' :block='true' @click='refresh()') Show
				
		cui-table-ideas(:filters='filters', @onEditIdea="modelForEdit = $event")
		cui-modal-idea-edit(:item='modelForEdit')
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-notification/vue-notification.scss" lang="scss"></style>

<script>
	import {bus} from '@/main.js'
	import { mapGetters, mapState } from 'vuex'
	import flatPickr from 'vue-flatpickr-component'
	import CuiTypeaheadCoins from '../cui-components/forms/CuiTypeaheadCoins'
	import CuiTableIdeas from '../cui-components/tables/CuiTableIdeas'
	import CuiModalIdeaEdit from '../cui-components/modals/CuiModalIdeaEdit'
	import Multiselect from 'vue-multiselect'

	export default {
		name 		: 'Ideas',
		metaInfo	: {
			title 	: 'Ideas'
		},
		components: {
			flatPickr,
			Multiselect,
			CuiTypeaheadCoins,
			CuiTableIdeas,
			CuiModalIdeaEdit
		},

		data 		: function () {
			return {
				modelForEdit: null,
				filters 	: {
					pair 	: null,
					date 	: null,
					user 	: null,
					coin 	: null,
					market	: null,
					status 	: null,
				}
			}
		},

		mounted() {

		},

		created () {
			this.getMarkets = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getExchanges', {name: query});
			}, 400);

			this.getCoins = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getCoins', {orSearch_fullname: query});
			}, 400);

			if ( !this.users.length ) this.$store.dispatch('users/getItems');
			if ( !this.coins.length ) this.getCoins();
			if ( !this.exchanges.length ) this.getMarkets();
		},

		ready () {

		},

		computed: {
			statusList () 	{ return [{text: "All", value: null}].concat(this.statuses); },
			marketsList () 	{ return [{name: "All", value: null}].concat(this.exchanges); },
			usersList () 	{ return [{text: "All", value: null}].concat(this.users); },
			coinsList () 	{ return [{name: "All", value: null}].concat(this.coins); },
			typesList () 	{ return [{name: "All", value: null}, {name: "Sell", value: 'sell'}, {name: "Buy", value: 'buy'}]; },
			pairsList ()	{ return [{name: "All", value: null}, {name: "USD, USDT", value: [4, 6]}, {name: "BTC", value: 1}]; },
			...mapGetters({
				statuses 			: 'ideas/getStatusesForSelect',
				coins 				: 'market/getCoins',
				exchanges			: 'market/getExchanges',
				users 				: 'users/getItemsForSelect',
				isSearchingMarkets 	: 'market/isPending',
				isSearchingCoins	: 'market/isPendingCoins',
			})
		},

		methods: {
			refresh () {
				bus.$emit("tableIdeasRefresh");
			},

			chooseCoin ( item ) {
				this.filters.coin = item;
			},

			limitText (count) {
				return `and ${count} other countries`
			},

			nameWithSymbol ( {name, symbol} ) {
				return `${name} ${symbol ? '(' + symbol + ')' : ''}`;
			},
		},
	}
</script>
