<template lang="pug">
	div
		h4.font-weight-bold.py-3.mb-4
			span.text-muted Ideas /
			|  New idea

		form-wizard(ref='wizard')
			template(slot='step' slot-scope='props')
				wizard-step(:tab='props.tab' @click.native='props.navigateToTab(props.index)' @keyup.enter.native='props.navigateToTab(props.index)' @on-complite='compliteForm' :transition='props.transition' :index='props.index')
					span(slot='title' :class="{'text-danger':props.tab.validationError}" v-html='props.tab.title')

			//- BEGIN TAB 1
			tab-content(title="<div class='small text-muted'>FIRST STEP</div>Idea details" :before-change='()=>validateStep(wizard.step1Name)')
				b-card.mb-3
					b-container(fluid='')
						b-row.justify-content-center
							b-col.col-xl-9.col-md-12
								b-form(@submit='submit' data-vv-scope='step1' autocomplete='off')
									//- BEGIN DATE
									b-form-group(horizontal='' label="Date <span class='text-danger'>*</span>" :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										flat-pickr(v-model='data.date' :config="{ altInput: true, animate: !isRTL, dateFormat: 'Y-m-d', altFormat: 'M d, Y' }" name="date" :placeholder="!isIE ? 'Any' : null" :class="{'is-invalid' : errors.has('date', wizard.step1Name)}" v-validate='{required: true}' data-vv-validate-on='validateStep' data-vv-as='Date')
									//- END DATE

									//- BEGIN USER
									b-form-group(horizontal='' label="User <span class='text-danger'>*</span>" label-for='IUser' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										multiselect(name='user' label='text' placeholder='' v-model='data.user' :options='users' :show-labels='false' :class="{'is-invalid' : errors.has('user', wizard.step1Name)}" v-validate='{required: true}' data-vv-validate-on='validateStep' data-vv-as='User')
									//- END USER
									
									//- BEGIN COIN
									b-form-group( horizontal='' label="Coin <span class='text-danger'>*</span>" label-for='ICoin' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										// cui-typeahead-coins(name='coin' placeholder='Type to search for a coin' @onHit='data.coin = $event' :limit='6' :min-chars='0' :hide-prepand='true' :on-focus-query='true' :class-name="{'is-invalid' : errors.has('coin', wizard.step1Name)}" src='https://www.cryptocompare.com/api/autosuggest/coins/' v-validate='{required: true}' data-vv-validate-on='validateStep' data-vv-as='Coin')
										multiselect(
											v-model='data.coin'
											:options='coins'
											:show-labels='false'
											:custom-label='nameWithSymbol'
											name='coin'
											label='name'
											ref='ISelectCoin'
											placeholder='Type to search for a coin'
											:class="{'is-invalid' : errors.has('coin', wizard.step1Name)}"
											v-validate='{required: true}'
											data-vv-validate-on='validateStep'
											data-vv-as='Coin'
											:searchable="true",
											:loading="isSearchingCoin",
											:internal-search="true",
											:close-on-select="true",
											:clear-on-select="false",
											:preserve-search="true"
											:reset-after="false"
											:limit-text="limitText",
											:max-height="600",
											:show-no-results="false",
											:hide-selected="false",
											@search-change="getCoins")
											template(slot="option", slot-scope="props")
												img.option__image(:src="props.option.icon")
												span.option__title {{ props.option.name }} ({{ props.option.symbol }})
									//- END COIN

									//- BEGIN EXCHANGE
									b-form-group(horizontal='' label="Exchange <span class='text-danger'>*</span>" label-for='IExchange' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										multiselect(
											name='exchange'
											label='name'
											ref='ISelectExchange'
											placeholder='Type to search for an exchange'
											v-model='data.market'
											:options='exchanges'
											:show-labels='false'
											autocomplete='off'
											:class="{'is-invalid' : errors.has('exchange', wizard.step1Name)}"
											v-validate='{required: true}'
											data-vv-validate-on='validateStep'
											data-vv-as='Exchange'
											:searchable="true",
											:loading="isSearchingMarkets",
											:internal-search="true",
											:close-on-select="true",
											:clear-on-select="false",
											:preserve-search="true"
											:reset-after="false"
											:limit-text="limitText",
											:max-height="600",
											:show-no-results="false",
											:hide-selected="false",
											@search-change="getMarkets")
									//- END EXCHANGE

									//- BEGIN PRICE
									b-form-group(horizontal='' label="Price <span class='text-danger'>*</span>" label-for='IPrice' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										b-row
											b-col.col-md-4
												multiselect(
													name='pair'
													label='text'
													:placeholder='placeholderPair'
													v-model='data.pair'
													:options='options.coinsForBuy'
													:searchable='false'
													:show-labels='false'
													:disabled='disabledSelectPair'
													:class="{'is-invalid' : errors.has('pair', wizard.step1Name) || errors.has('pairRequired', wizard.step1Name)}"
													v-validate='{required: true}'
													data-vv-validate-on='validateStep'
													data-vv-as='Pair')
												b-form-input(hidden='true' :disabled="!disabledSelectPair" name="pairRequired" v-model='data' v-validate='{pairRequired: true}' data-vv-validate-on='validateStep' data-vv-as='Pair')
											b-col.col-md-8
												b-input-group
													b-form-input#IPrice(name='buy_price' v-model='data.price' placeholder='Per unit' :disabled='!data.pair' :class="{'is-invalid' : errors.has('buy_price', wizard.step1Name)}" v-validate='{required: true, decimal: 8}' data-vv-validate-on='validateStep' data-vv-as='Price')
													b-input-group-append
														b-btn.z-index1(size='sm' variant='outline-secondary' @click='setExchangePrice()') set current
									//- END PRICE
									
									cui-new-idea-sell-form(:actions='data.targets' :buyPrice='data.price' @change='updateTerm')
									b-form-input(hidden='true' name="targetsAmount" v-model='data.targets' v-validate='{targetsAmount: true}' data-vv-validate-on='validateStep' data-vv-as='targets')
									b-form-input(hidden='true' name="buyStoplossEquals" v-model='data' v-validate='{buyStoplossEquals: true}' data-vv-validate-on='validateStep' data-vv-as='targets')

									//- BEGIN STOPLOSS
									b-form-group(horizontal='' label='Stop loss' label-for='IStopLoss' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
										b-row
											b-col.col-md-6
												b-form-input#IStopLoss(name='stop_loss' placeholder='Per unit' ref='IStopLoss' v-model='calculateStopLoss' v-validate='{decimal: 8}' data-vv-validate-on='validateStep' data-vv-as='Stop loss' :class="{'is-invalid' : errors.has('stop_loss', wizard.step1Name)}")
											b-col.col-md-6
												b-input-group(append='%')
													b-form-input#IStopLossPercent(name='stop_loss_percent' ref='IStopLossPercent' placeholder='0' v-model='calculateStopLossPercent' v-validate='{decimal: 2, max_value: 100}' data-vv-validate-on='validateStep' data-vv-as='Stop loss percent' :class="{'is-invalid' : errors.has('stop_loss_percent', wizard.step1Name)}")
									//- END STOPLOSS
			//- END TAB 1

			//- BEGIN TAB 2
			tab-content(title="<div class='small text-muted'>SECOND STEP</div>Description" :before-change="()=>validateStep('step2')")
				b-card.mb-3(v-if='wizard.tabIndex == 1')
					quill-editor(v-model='data.case' :options='options.editor')
			//- END TAB 2

			//- BEGIN TAB 3
			tab-content(title="<div class='small text-muted'>THIRD STEP</div>Preview")
				b-card.mb-3(v-if='wizard.tabIndex == 2')
					ul.list-unstyled.mb-3
						li
							strong Date:
							|  {{ new Date(data.date) | dateDDMMMMYYYYHHmm }} ({{daysAgo}})
						li
							strong Coin:
							|  {{ data.coin.symbol | uppercase }}
						li
							strong Currency:
							|  {{ data.pair.text }}
						li
							strong Price:
							|  {{ data.price }}
						li
							strong Exchange:
							|  {{ data.market.name | capitalize }}
						li
							strong Potential growth:
							// | {{ data.growth }}
							|  {{ data.profit }}%
						// li
						// 	strong Time left:
							|  {{ data.timeleft }} days
					ul.list-unstyled
						li
							strong Sell orders
						li(v-for='a in data.targets' :key='a.id')
							| {{ a.amount }}% of the amount by {{a.price}} {{ data.pair.text }} ({{ a.growth > 0 ? '+' : ''}}{{ Number(a.growth).toFixed(2) }}%)
					ul.list-unstyled(v-if='data.stoplossPrice')
						li
							strong Stoploss
						li
							| 100% of the amount by {{data.stoplossPrice}} {{ data.pair.text }} ({{ data.stoplossPercent > 0 ? '+' : ''}}{{ data.stoplossPercent.toFixed(2) }}%)
					ul.list-unstyled(v-if='data.case')
						li
							strong Investment case
						li(v-html='data.case')

				.container(v-if='wizard.tabIndex == 3')
					.row
						.col
							b-card.my-4.box-shadow-none.text-center(bg-variant='transparent' border-variant='primary' title='The Idea was added!')
								p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
								p
									b-btn(variant='primary' @click='goToFirstTab()') Add more
			//- END TAB 3
			
			//- BEGIN FOOTER
			template(slot='footer' slot-scope='props')
				.wizard-footer-left.float-left
					b-alert(variant='danger' :show='errors.items.length > 0')
						ul.list-unstyled.mb-0.text-left
							li(v-for='er in errors.items' :key='er.field') {{er.msg}}

				.wizard-footer-right
					b-btn(variant='default' v-if='props.activeTabIndex > 0 && wizard.tabIndex != 3' @click='props.prevTab(); wizard.tabIndex--') Back
					b-btn.ml-1(variant='default' v-if='!props.isLastStep && wizard.tabIndex != 3' @click='props.nextTab()') Next
					b-btn.ml-1(variant='primary' v-if='props.isLastStep && wizard.tabIndex != 3' @click='postIdea()' :disabled='isPending') Post idea
			//- END FOOTER
</template>

<!-- Form Wizard -->
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-form-wizard/vue-form-wizard.scss" lang="scss"></style>
<!-- END Form Wizard -->

<!-- Editors -->
<style src="simplemde/dist/simplemde.min.css"></style>
<style src="@/vendor/libs/vue-simplemde/vue-simplemde.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-quill-editor/typography.scss" lang="scss"></style>
<style src="@/vendor/libs/vue-quill-editor/editor.scss" lang="scss"></style>
<!-- END Editors -->

<!-- FlatPickr -->
<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<!-- END FlatPickr -->

<style src="@/vendor/libs/vue-notification/vue-notification.scss" lang="scss"></style>

<script>
	import Vue from 'vue'
	import {bus} from '@/main.js'
	import Multiselect from 'vue-multiselect'
	import CuiNewIdeaSellForm from '@/cui-components/forms/CuiNewIdeaSellForm'
	import CuiTypeaheadCoins from '@/cui-components/forms/CuiTypeaheadCoins'
	import Notification from '@/services/serviceNotification'
	import {FormWizard, TabContent, WizardStep} from 'vue-form-wizard'
	// import QuillEditor from 'vue-quill-editor/dist/vue-quill-editor'
	import { quillEditor } from 'vue-quill-editor'
	import { Validator } from 'vee-validate';
	import { mapGetters, mapState } from 'vuex'
	import {IDEA_HORIZONS} from '@/models/idea'
	import flatPickr from 'vue-flatpickr-component'
	import router from '@/router'
	import moment from 'moment'
	import Axios from 'axios'

	Validator.extend('targetsAmount', {
		getMessage(field, params, data) {
			return (data && data.message) || 'Sum of Targets amount must be equal 100%';
		},
		validate(value) {
			return value.reduce( (sum, v) => sum + v.amount, 0) === 100;
		}
	});

	Validator.extend('pairRequired', {
		getMessage(field, params, data) {
			return (data && data.message) || `The ${field} field is required`;
		},
		validate(value) {
			return value.pair != null;
		}
	});

	Validator.extend('buyStoplossEquals', {
		getMessage(field, params, data) {
			return (data && data.message) || 'Price is equal Stop loss';
		},
		validate(value) {
			return value.price != value.stoplossPrice;
		}
	});
	
	export default {
		// extends: VueTypeahead,
		name 		: 'NewIdea',
		metaInfo	: {
			title 	: 'New Idea'
		},
		components: {
			FormWizard,
			TabContent,
			WizardStep,
			Multiselect,
			CuiTypeaheadCoins,
			CuiNewIdeaSellForm,
			quillEditor,
			flatPickr
		},

		data 		: function () {
			return {
				breadcrumd 		: [],
				wizard 			: {
					step1Name  	: 'step1',
					step2Name  	: 'step2',
					tabIndex 	: 0
				},
				options 		: {
					coinsForBuy	: [],
					editor 		: {
						modules 	: {
							toolbar 	: [
								[{ 'header': [1, 2, 3, 4, 5, 6, false] }],
								['bold', 'italic', 'underline', 'strike'],
								['blockquote', 'code-block'],
								[{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'indent': '-1' }, { 'indent': '+1' }],
								['link', 'image'],
								['clean']
							]
						},
						placeholder : "Explain your idea"
					}
				},

				data 		: {
					user 	: null,
					date 	: null,
					coin 	: null,
					price	: null,
					pair	: null,
					market	: null,
					targets : [{
						amount 	: 100,
						price 	: null,
						growth 	: null,
						horizon : IDEA_HORIZONS[0].id
					}],
					profit 	: null,
					growth	: null,
					stoplossPrice 	: null,
					stoplossPercent : null,
					// timeleft 	: null,
					case 		: ''
				},

				settings 	: {
					label 	: {
						col 	: 3,
						align 	: 'left'	
					} 
				}
			}
		},

		mounted() {
			_.each(router.options.routes[0].children, (v, i) => {
				if ( v.name == 'ideas' ) {
					this.breadcrumd = [{ text: _.capitalize(v.name), href: v.path }, { text: 'New idea', active: true }]; 	
				}
			});

			bus.$on('errors-changed', (newErrors, oldErrors) => {
				newErrors.forEach(error => {
					if (!this.errors.has(error.field)) {
						this.errors.add(error.field, error.msg)
					}
				})

				if (oldErrors) {
					oldErrors.forEach(error => {
						this.errors.remove(error.field)
					})
				}
			})
		},

		created () {			
			this.getMarkets = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getExchanges', {name: query});
			}, 400);

			this.getCoins = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getCoins', {orSearch_fullname: query});
			}, 400);

			if ( !this.users.length ) this.$store.dispatch('users/getItems');
			if ( !this.coins.length ) this.getCoins();
			if ( !this.exchanges.length ) this.getMarkets();
		},

		ready () {

		},

		watch: {
			"data.market": {
				async handler (nV, oV) {
					if ( this.data.coin ) {
						await this.$store.dispatch('market/getPairs', {market: nV.id, coinFrom: this.data.coin.id});
						this.updatePaidCoinSelect();
					}
				}
			},

			"data.coin": {
				async handler (nV, oV) {
					if ( this.data.market ) {
						await this.$store.dispatch('market/getPairs', {market: this.data.market.id, coinFrom: nV.id});
						this.updatePaidCoinSelect();
					}
				}
			}

		},

		computed: {
			daysAgo () {
				return Date.prototype.timeAgo( ((new Date()).getTime()-(new Date( this.data.date ).getTime()))/1000);;
			},
			totalAmount () {
				return _.sumBy(this.data.targets, function (a) { return Number(a.amount); });
			},

			calculateStopLoss: {
				get () {
					return isFinite(this.data.stoplossPrice) ? this.data.stoplossPrice : '';
				},
				set (val) {
					this.data.stoplossPrice = val;

					if ( this.$refs.IStopLoss.$el === document.activeElement ) {
						this.data.stoplossPercent = parseFloat(((1-val/this.data.price)*100).toFixed(2));
					}
				}
			},

			calculateStopLossPercent: {
				get () {
					return isFinite(this.data.stoplossPercent) ? this.data.stoplossPercent : '';
				},
				set (val) {
					this.data.stoplossPercent = val;
					
					if ( this.$refs.IStopLossPercent.$el === document.activeElement ) {
						this.data.stoplossPrice = parseFloat((this.data.price*(1-val/100)).toFixed(8));
					}
				}
			},

			placeholderPair () {
				return (this.data.market && !this.isSearchingPairs && this.options.coinsForBuy.length == 0) ? 'Don`t have pairs' : 'Select Pair';
			},

			disabledSelectPair () {
				return !this.data.market || this.isSearchingPairs || (!this.isSearchingPairs && this.options.coinsForBuy.length == 0);
			},

			...mapGetters({
				isPending 			: 'ideas/isPending',
				isSearchingMarkets 	: 'market/isPending',
				isSearchingPairs	: 'market/isPendingPairs',
				isSearchingCoin		: 'market/isPendingCoins',
				coins				: 'market/getCoins',
				pairs 				: 'market/getPairs',
				exchanges			: 'market/getExchanges',
				users 				: 'users/getItemsForSelect'
			})
		},

		methods: {
			updatePaidCoinSelect ( ) {
				this.data.pair = null;
				
				this.options.coinsForBuy = _.sortBy(
					_.map(
						_.filter( this.pairs, (v) => {
							if ( v.symbol.match( new RegExp(`^${this.data.coin.symbol}\/`) ) ) { return v; }
						}),
					(vMap) => {
						return { text: vMap.coinTo.symbol, value: vMap.id, isFiat: vMap.coinTo.isFiat }
					}),
				(vSort) => {
					return vSort.isFiat == true ? -1 : 1;
				});
			},

			updateTerm ( index, val, profit ) {
				this.data.targets[index].amount 	= Number(val.a);
				this.data.targets[index].price 		= val.p;
				this.data.targets[index].growth 	= val.g;
				this.data.targets[index].horizon 	= val.h;
				this.data.profit 					= Number(profit);
				// this.data.growth 					= this.data.targets.reduce( (sum, t) => sum + t.growth, 0) / this.data.targets.length;
			},

			limitText (count) {
				return `and ${count} other countries`
			},

			nameWithSymbol ( {name, symbol} ) {
				return `${name} (${symbol})`;
			},

			selectCoinListCustomLabel ( item ) {
				return "<img class='coins' src='https://s2.coinmarketcap.com/static/img/coins/32x32/"+ item.id +".png'>"  + item.name + " (" + item.symbol + ")";
			},

			setExchangePrice () {					
				if ( !_.isNil(this.data.market) && !_.isNil(this.data.pair) ) {
					this.$store.dispatch('market/getMarketPairPrice', {pairId: this.data.pair.value, marketId: this.data.market.id})
						.then( v => this.data.price = v )
						.catch( er => Notification.error.call(this, er ) )
				}
			},

			goToFirstTab () {
				this.$refs.wizard.changeTab(2, 0);
				this.wizard.tabIndex = 0;
				this.$refs.ISelectCoin.search 		= '';
				this.$refs.ISelectExchange.search 	= '';
			},

			/* VALIDATION FORM */
			validateStep (step) {
				bus.$emit('validate');

				var v = this.$validator.validateAll(step);

				v.then( result => {
					if ( result && step == "step1" ) { this.wizard.tabIndex = 1; }
					if ( result && step == "step2" ) { this.wizard.tabIndex = 2; }
				})

				return v;
			},

			compliteForm () {
				
			},

			submit (e) {
				return false;
			},

			clearData () {
				_.forOwn(this.data, (v,k) => {
					if ( k == 'targets' ) {
						_.forOwn(this.data[k][0], (vv,kk) => {
							this.data[k][0][kk] = null;
						});
						let t = _.assign({}, this.data[k][0]);

						this.data[k] = [];

						this.$nextTick().then(() => this.data[k] = [t]);
						return;
					}

					this.data[k] = '';
				});
			},

			async postTargets () {
				return new Promise( (resolve) => {
					let o = [];
					
					_.each( this.data.targets, (v, i) => {
						this.$store.dispatch('ideas/putTarget', {
							amount 	: v.amount.toString(),
							upside	: v.growth.toString(),
							target 	: v.price
						}).then( (t) => {
							o.push(t.id);

							if ( i == this.data.targets.length - 1)
								resolve(o);
						}).catch( () => {
							if ( i == this.data.targets.length - 1)
								resolve(o);
						});
					});
				});
			},

			postIdea () {
				let idea = {
					price			: this.data.price.toString(),
					pair 			: this.data.pair.value,
					user			: this.data.user.value,
					market			: this.data.market.id,
					date			: this.data.date,
					description		: this.data.case
				};

				if (this.data.stoplossPercent || this.data.stoplossPrice) {
					idea.stoplossPercent = this.data.stoplossPercent.toFixed(0);
					idea.stoplossPrice = this.data.stoplossPrice.toString();
				}

				
				idea.targets = this.data.targets.map( (v) => {
					return {
						amount 	: v.amount.toString(),
						upside	: v.growth.toString(),
						price 	: v.price.toString()
					}
				});

				idea.horizon = this.data.targets[0].horizon.toUpperCase();

				this.$store.dispatch('ideas/put', idea)
					.then( (u) => {
						this.wizard.tabIndex = 3;
						this.clearData();
					})
					.catch( (er) => {
						Notification.error.call(this, er );
					});
			}
			/* VALIDATION FORM END */
		},
	}
</script>