<template lang="pug">
	div
		h4.font-weight-bold.py-3 People
		
		//- Filters
		div.wrapper_flex_filters.my-25.d-flex.flex-column.flex-sm-row.justify-content-start
			multiselect.w-auto.mr-2(name='timeframe' label='name' placeholder='' v-model='filters.timeframe' :options='timeframesList' :show-labels='false' :max-height="600")
			multiselect.w-auto(
				v-model='filters.coin'
				:options='coinsList'
				:show-labels='false'
				:custom-label='nameWithSymbol'
				name='coin'
				label='name'
				placeholder='Type to search for a coin'
				:searchable="true",
				:loading="isSearchingCoins",
				:internal-search="true",
				:close-on-select="true",
				:clear-on-select="false",
				:preserve-search="true"
				:reset-after="false"
				:max-height="600",
				:show-no-results="false",
				:hide-selected="false",
				@search-change="getCoins")
				template(slot="option", slot-scope="props")
					img.option__image(:src="props.option.icon" v-if='props.option.icon')
					span.option__title {{ props.option.name }} 
						span(v-if='props.option.symbol') ({{ props.option.symbol }})
		

			cui-table-el-search.table-search-upside.p-0.d-flex.align-items-center(
				:hide-per-page='true'
				:per-page='100'
				@changeperpage='pageLengthChanged'
				@search='searching')

		cui-table-people.table-ideas(:filters='filters' :hide-per-page='true' :hide-search='true')
</template>

<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
	import {bus} from '@/main.js'
	import { mapGetters, mapState } from 'vuex'
	import flatPickr from 'vue-flatpickr-component'
	import Multiselect from 'vue-multiselect'
	import CuiTablePeople from '../cui-components/tables/CuiTablePeople'
	import CuiTableElSearch from '@/cui-components/tables/CuiTableElSearch'

	export default {
		name 		: 'People',
		metaInfo	: {
			title 	: 'People'
		},
		components: {
			flatPickr,
			CuiTablePeople,
			Multiselect,
			CuiTableElSearch
		},

		data: () => ({
			model 		: {},
			filters 	: {
				timeframe 	: null,
				coin 		: null
			},
			timeframesList : [
				{name: 'All', value: null},
				{name: 'Current Month', value: null},
				{name: 'Last Month', value: null},
				{name: 'Last 2 Months', value: null},
				{name: 'Current Quater', value: null},
				{name: 'Last 3 Months', value: null},
				{name: 'Last 6 Months', value: null},
				{name: 'Current Year', value: null},
				{name: 'Last 12 Months', value: null},
			]
		}),

		mounted () {

		},

		created () {
			this.searching = _.debounce( ( query ) => {	
				this.refresh();
			}, 400);	
			
			this.getCoins = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getCoins', {orSearch_fullname: query});
			}, 400);

			if ( !this.coins.length ) this.getCoins();
			this.filters.timeframe = _.last(this.timeframesList);
		},

		ready () {

		},

		computed: {
			coinsList () 		{ return [{name: "All", value: null}].concat(this.coins); },
			...mapGetters({
				coins 				: 'market/getCoins',
				isSearchingCoins	: 'market/isPendingCoins',
			})
		},

		methods: {
			blockUser () {

			},

			refresh () {
				bus.$emit("tableUsersRefresh");
			},

			pageLengthChanged () {},

			chooseCoin ( item ) {
				this.filters.coin = item;
			},

			nameWithSymbol ( {name, symbol} ) {
				return `${name} ${symbol ? '(' + symbol + ')' : ''}`;
			},
		},
	}
</script>
