<template lang="pug">
	div(v-if='profile')
		h4.font-weight-bold
			span.text-muted Profile / 
			span {{ profile.username | capitalize }}

		.row.row-profile
			.col-lg-9.col-md-7.d-flex.align-items-center.col-profile
				cui-profile-info(:profile='profile')
			.col-lg-3.col-md-5
				cui-profile-statistics(:profile='profile')
		.row
			.col
				b-nav.tabs-alt(tabs)
					b-nav-item(:active="curTab == statuses[0].id" @click="clickTab(statuses[0].id)") {{ statuses[0].name }} 
						b-badge(v-if='totalActive != null' variant="outline-primary") {{ totalActive }}
					b-nav-item(:active="curTab == statuses[1].id" @click="clickTab(statuses[1].id)") {{ statuses[1].name }} 
						b-badge(v-if='totalClosed != null' variant="outline-primary") {{ totalClosed }}
					b-nav-item(:active="curTab == 'statistics'" @click="curTab = 'statistics'") Statistics

				div
					div.my-25.d-flex.flex-column.flex-sm-row.wrapper_flex_filters
						multiselect.select-with-search.mr-2(v-model='filters.exchage' :options='exchanges' :show-labels='false' label='name' placeholder='Exchange' required='')
						multiselect.select-with-search.mr-2(
							v-model='filters.coin'
							:options='coins'
							:show-labels='false'
							:custom-label='nameWithSymbol'
							name='coin'
							label='name'
							ref='ISelectCoin'
							placeholder='Coin/ICO'
							:searchable="true",
							:loading="isSearchingCoin",
							:internal-search="true",
							:close-on-select="true",
							:clear-on-select="false",
							:preserve-search="true"
							:reset-after="false"
							:limit-text="limitText",
							:max-height="600",
							:show-no-results="false",
							:hide-selected="false",
							@search-change="getCoins")
							template(slot="option", slot-scope="props")
								img.option__image(:src="props.option.icon")
								span.option__title {{ props.option.name }} ({{ props.option.symbol }})
						multiselect(
							v-model='filters.horizon'
							:options='horizon'
							:show-labels='false'
							label='text'
							placeholder='Horizon'
							required=''
							:searchable="false")

				div(v-show="curTab == statuses[0].id || curTab == statuses[1].id")
					cui-table-ideas.table-ideas.table-profile(:user="profile" :hide-search="true" :hide-per-page="true" :filters='filters' @onGetItems='setTotalItems' @onEditIdea="modelForEdit = $event")
				div(v-show="curTab == 'statistics'")
		cui-modal-idea-edit(:item='modelForEdit')
</template>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="@/vendor/libs/vue-multiselect/vue-multiselect.scss" lang="scss"></style>

<style lang='scss' scoped>
	@import '../vendor/styles/_projectname/_include';
	
	.multiselect {
		width: 205px;
	}

	@include media-breakpoint-down(sm) {
		.row-profile, .col-profile {
			margin-bottom: 1rem;
		}
	}

	@include media-breakpoint-only(xs) {
		.row-profile, .col-profile {
			justify-content: center;
		}
	}
</style>

<script>
	import {bus} from '@/main.js';
	import router from '@/router'
	import CuiTableIdeas from '@/cui-components/tables/CuiTableProfile'
	import CuiProfileInfo from '@/cui-components/info/CuiProfileInfo'
	import CuiProfileStatistics from '@/cui-components/info/CuiProfileStatistics'
	import CuiModalIdeaEdit from '@/cui-components/modals/CuiModalIdeaEdit'
	import Multiselect from 'vue-multiselect'
	import {IDEA_HORIZONS, IDEA_STATUSES} from '@/models/idea'
	import { mapGetters, mapState } from 'vuex'

	export default {
		name 		: 'Profile',
		metaInfo	: {
			title 	: 'Profile'
		},
		components: {
			CuiTableIdeas,
			CuiProfileInfo,
			CuiProfileStatistics,
			CuiModalIdeaEdit,
			Multiselect
		},

		data 		: function () {
			return {
				curTab 		: IDEA_STATUSES[0].id,
				horizon 	: IDEA_HORIZONS.map( v => { return {value: v.id, text: v.title}}),
				statuses 	: IDEA_STATUSES.map( v => v),
				modelForEdit: null,
				totalActive	: null,
				totalClosed	: null,
				filters 	: {
					exchange 	: null,
					coin 		: null,
					horizon		: null,
					status 		: {id: IDEA_STATUSES[0].id}
				}
			}
		},

		mounted() {

		},

		created () {
			this.getMarkets = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getExchanges', {name: query});
			}, 400);

			this.getCoins = _.debounce( ( query ) => {	
				this.$store.dispatch('market/getCoins', {orSearch_fullname: query});
			}, 400);

			if ( !this.coins.length ) this.getCoins();
			if ( !this.exchanges.length ) this.getMarkets();

			this.$store.commit('users/clearCurrent', this.$route.params.username);
			this.$store.dispatch('users/getOne', {username: this.$route.params.username})
				.catch( v => router.push('people') );
		},

		ready () {

		},

		computed: {
			...mapGetters({
				isSearchingMarkets 	: 'market/isPending',
				isSearchingPairs	: 'market/isPendingPairs',
				isSearchingCoin		: 'market/isPendingCoins',
				coins				: 'market/getCoins',
				exchanges			: 'market/getExchanges',
				me 					: 'users/isLogged',
				profile				: 'users/getCurrent',
			})
		},

		methods: {
			refresh () {
				bus.$emit("tableProfileRefresh");
			},

			limitText (count) {
				return `and ${count} other countries`
			},

			nameWithSymbol ( {name, symbol} ) {
				return `${name} (${symbol})`;
			},

			clickTab (tab) {
				if ( this.curTab == tab ) return false;

				this.curTab = tab;
				this.filters.status.id = tab;
				this.refresh();
			},

			setTotalItems ( total ) {
				if ( this.filters.status.id == IDEA_STATUSES[0].id ) {
					this.totalActive = total;
				}

				if ( this.filters.status.id == IDEA_STATUSES[1].id ) {
					this.totalClosed = total;
				}
			}
		},
	}
</script>
