<template lang="pug">
	div
		h4.font-weight-bold.py-3 Users
		b-btn.mb-4(variant='primary' v-b-modal.modaluser='') New user

		//- Filters
		.ui-bordered.px-4.pt-4.mb-4
			.form-row.align-items-center
				.col-md-3.mb-4
					label.form-label Registration
					b-input-group
						flat-pickr(ref='datePickr' v-model='filters.date' :config="{ altInput: true, animate: !isRTL, dateFormat: 'Y-m-d', altFormat: 'M d, Y', wrap: true }" :placeholder="!isIE ? 'Any' : null")
						b-input-group-append(v-show='filters.date')
							b-btn(size='sm' variant='outline-default' data-clear) x

				.col-md-3.mb-4
					label.form-label Status
					multiselect(name='status' label='text' v-model='filters.status' :options='statusList' :show-labels='false')
					
				.col-md-3.col-xl-2.mb-4
					label.form-label.d-none.d-md-block &nbsp;
					b-btn(variant='secondary' :block='true' @click='refresh()') Show
		
		cui-table-users(:filters='filters', @onEditUser="model = $event")
		cui-modal-user
		cui-modal-user-edit(:item='model')
</template>

<style src="@/vendor/libs/vue-flatpickr-component/vue-flatpickr-component.scss" lang="scss"></style>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<script>
	import {bus} from '@/main.js'
	import { mapGetters, mapState } from 'vuex'
	import flatPickr from 'vue-flatpickr-component'
	import Multiselect from 'vue-multiselect'
	import CuiModalUser from '../cui-components/modals/CuiModalUser'
	import CuiModalUserEdit from '../cui-components/modals/CuiModalUserEdit'
	import CuiTableUsers from '../cui-components/tables/CuiTableUsers'

	export default {
		name 		: 'Users',
		metaInfo	: {
			title 	: 'Users'
		},
		components: {
			flatPickr,
			CuiModalUser,
			CuiModalUserEdit,
			CuiTableUsers,
			Multiselect
		},

		data: () => ({
			model 		: {},
			filters 	: {
				date 	: null,
				status 	: null
			}
		}),

		mounted () {

		},

		created () {

		},

		ready () {

		},

		computed: {
			statusList () {
				return [{text: "All", value: null}].concat(this.statuses);
			},
			...mapGetters({
				statuses 	: "users/getStatusesForSelect",
			})
		},

		methods: {
			blockUser () {

			},
			refresh () {
				bus.$emit("tableUsersRefresh");
			},
		},
	}
</script>
