<template>
    <div id="app">
		<notifications group="notifications-default" />
        <router-view/>
    </div>
</template>

<style src="@/vendor/styles/bootstrap.scss" lang="scss"></style>
<style src="@/vendor/styles/appwork.scss" lang="scss"></style>
<style src="@/vendor/styles/theme-projectname.scss" lang="scss"></style>
<style src="@/vendor/styles/colors.scss" lang="scss"></style>
<style src="@/vendor/styles/uikit.scss" lang="scss"></style>
<style src="@/vendor/styles/projectname.scss" lang="scss"></style>
<style src="./demo.css" lang="css"></style>
<style src="./style.scss" lang="scss"></style>

<script>
import {STORAGE_TOKEN} from '@/api/apiTypes'

export default {
	name				: 'app',
	metaInfo			: {
		title			: 'projectname',
		titleTemplate	: '%s - projectname'
	},
	created () {
		this.$once('getMe', () => {
			if ( localStorage.getItem(STORAGE_TOKEN) ) {
				if ( this.$route.matched.some( record => record.meta.auth ) ) {
					this.$store.dispatch('users/me').catch( () => this.$router.replace({name : 'login'}))
				}
			}
		});
	},
	updated () {
		this.$emit('getMe')
		
		// Remove loading state
		setTimeout(() => document.body.classList.remove('app-loading'), 1)
	}
}
</script>
