b-card(no-body='')

    block search
        cui-table-el-search(
            :hide-search='hideSearch'
            :hide-per-page='hidePerPage'
            :per-page='perPage'
            @changeperpage='pageLengthChanged'
            @search='searching')

    hr.border-light.m-0(v-if='!hideSearch || !hidePerPage')
    
    block pagination
        cui-table-el-pagination(
            v-if='showPaginationTop'
            :hide-info='hideInfo'
            :hide-pagination='hidePagination'
            :total-items='totalItems'
            :current-page='currentPage'
            :total-pages='totalPages'
            :per-page='perPage'
            @changepage='pageChanged')
        
    block table
        .table-responsive
            b-table.card-table(
				:items='items'
				:fields='fields'
				:sort-by.sync='sortBy'
				:sort-desc.sync='sortDesc'
                :hover='hover'
				:striped='striped'
				:bordered='bordered'
                :busy.sync="isbusy"
                :show-empty='showempty'
				:per-page='perPage'
                :fixed='fixed'
                :no-local-sorting='noLocalSorting'
                :no-provider-paging='false'
                @sort-changed='sorting'
                @row-clicked='rowclick')

                block tableTH
                    tr

    block pagination
        cui-table-el-pagination(
            :hide-info='hideInfo'
            :hide-pagination='hidePagination'
            :total-items='totalItems'
            :current-page='currentPage'
            :total-pages='totalPages'
            :per-page='perPage'
            @changepage='pageChanged')