<template lang="pug">
    include /includes/mixins/form.pug

    .authentication-wrapper.authentication-2.px-4
        .authentication-inner.py-5
            
            //- Form
            form
                .p-4.p-sm-5
                    //- Logo
                    .d-flex.justify-content-center.align-items-center
                        .w-100.position-relative.pb-4
                            img.w-100.h-100(src='/static/img/logo/logo4.png')
                    //- / Logo
                    h5.text-center.text-muted.font-weight-normal.mb-4 Reset Your Password
                    hr.mt-0.mb-4
                    p Enter your email address and we will send you a link to reset your password.
                    b-form-group
                        b-input(
                            name='email'
                            v-model.trim='credentials.email'
                            v-validate='valid.email'
                            data-vv-validate-on='submit'
                            @keyup.native.enter='submit'
                            :class="{'is-invalid' : errors.has('email')}"
                            placeholder='Enter your email address')
                        +error('email')
                    b-btn.btn-block.mb-3(variant='purple2' @click='submit()' :disabled='isPending' v-if='successText == null') Send password reset email
                    b-alert(variant='success' :show='successText != null') {{successText}}
                    b-alert(variant='danger' :show='isFailure != false') {{isFailure}}

</template>

<!-- Page -->
<style src="@/vendor/styles/pages/authentication.scss" lang="scss"></style>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: 'forgot',
        metaInfo: {
            title: 'Forgot password'
        },
        data: () => ({
            credentials : {
                email       : null,
            },
            successText : null,
            valid       : {
                email   : {required: true, email: true}
            }
        }),

        computed : {
            ...mapGetters({
                isPending   : 'users/isPending',
                isFailure   : 'users/isFailure',
            })
        },
        methods : {
            submit () {
                this.$validator.validate().then( result => {
                    if ( result ) { this.reset(); }
                })
            },

            reset () {
                
            }
        }
    }
</script>
