<template lang="pug">
    include /includes/mixins/form.pug

    .authentication-wrapper.authentication-1.px-4
        .authentication-inner.py-5

            //- LOGO
            .d-flex.justify-content-center.align-items-center
                .w-100.position-relative
                    img.w-100.h-100(src="/static/img/logo/logo4.png")
            //- /LOGO

            //- FORM
            form.my-5
                b-form-group(label="Email")
                    b-input(
                        name="email"
                        v-model.trim="credentials.email"
                        v-validate="valid.email"
                        data-vv-validate-on="submit"
                        @keyup.native.enter="submit"
                        :class="{'is-invalid' : errors.has('email')}")
                    +error('email')

                b-form-group
                    .d-flex.justify-content-between.align-items-end(slot="label")
                        div Password
                        router-link.d-block.small.text-purple2.font-weight-normal(tag="a" :to="{name: 'forgot'}") Forgot password?
                    b-input(
                        name="password"
                        type="password"
                        v-model.trim="credentials.password"
                        v-validate="valid.pass"
                        data-vv-validate-on="submit"
                        @keyup.native.enter="submit"
                        :class="{'is-invalid' : errors.has('password')}")
                    +error('password')

                .d-flex.justify-content-between.align-items-center.m-0
                    b-check.m-0.custom-control-purple2(v-model="credentials.rememberMe") Remember me
                    b-btn(variant="purple2" @click="submit()" :disabled="isPending") Sign In
            //- /FORM

            .text-center.text-muted
                | Don't have an account yet? 
                router-link.text-purple2(tag="a" :to="{name: 'register'}") Sign Up

            b-alert(variant="danger" :show="isFailure != false") {{isFailure}}
</template>

<!-- Page -->
<style src="@/vendor/styles/pages/authentication.scss" lang="scss"></style>

<script>
    import { mapGetters } from 'vuex'
    import Text from '@/services/serviceText'

    export default {
        name: 'pages-authentication-login-v1',
        metaInfo: {
            title: 'Login'
        },
        
        data: () => ({
            credentials : {
                email       : null,
                password    : null,
                rememberMe  : false
            },
            valid       : {
                email   : {required: true, email: true},
                pass    : {required: true},
            }
        }),
        
        created () {
            
        },

        computed : {
            ...mapGetters({
                me          : "users/isLogged",
                isPending   : 'users/isPending',
                isFailure   : 'users/isFailure',
            })
        },

        methods : {
            submit () {
                this.$validator.validate().then(result => {
                    if (result) { this.auth(); }
                });
            },

            auth () {
                this.$store.dispatch( "users/login", this.credentials )
                    .then( () => {
                        this.$router.push({name : this.me.isAdmin() ? "ideas" : "user_ideas"});
                    })
            }
        }
    }
</script>
