<template lang="pug">
    include /includes/mixins/form.pug

    .authentication-wrapper.authentication-1.px-4
        .authentication-inner.py-5
            //- Logo
            .d-flex.justify-content-center.align-items-center
                .w-100.position-relative
                    img.w-100.h-100(src='/static/img/logo/logo4.png')
            //- /Logo
            form.my-5
                b-form-group(label='Email')
                    b-input(name='email' v-model.trim='credentials.email' v-validate='valid.email' data-vv-validate-on='submit' @keyup.native.enter='submit' :class="{'is-invalid' : errors.has('email')}")
                    +error('email')
                b-form-group(label='Name')
                    b-input(name='name' v-model.trim='credentials.name' v-validate='valid.name' data-vv-validate-on='submit' @keyup.native.enter='submit' :class="{'is-invalid' : errors.has('name')}")
                    +error('name')
                b-form-group(label='Password')
                    b-input(type='password' name='password' v-model.trim='credentials.password' v-validate='valid.pass' data-vv-validate-on='submit' @keyup.native.enter='submit' :class="{'is-invalid' : errors.has('password')}")
                    +error('password')
                b-btn.mt-4(variant='purple2' :block='true' @click='submit()' :disabled='isPending') Sign Up
                .bg-lightest.text-muted.small.p-2.mt-4
                    | By clicking &quot;Sign Up&quot;, you agree to our 
                    router-link.text-purple2(tag='a' :to="{name: 'terms'}") terms of service and privacy policy.
                    |                 We&rsquo;ll occasionally send you account related emails.
            //- /Form
            .text-center.text-muted
                | Already have an account? 
                router-link.text-purple2(tag='a' :to="{name: 'login'}") Sign In
            b-alert(variant='danger' :show='isFailure != false') {{isFailure}}`
</template>

<!-- Page -->
<style src="@/vendor/styles/pages/authentication.scss" lang="scss"></style>

<script>
    import { mapGetters } from 'vuex'
    import Text from '@/services/serviceText'

    export default {
        name: 'register',
        metaInfo: {
            title: 'Register'
        },
        data: () => ({
            credentials : {
                email       : null,
                password    : null,
                name        : null
            },
            valid       : {
                email   : {required: true, email: true},
                pass    : {required: true, min: 6, max: 30},
                name    : {required: true, alpha_dash: true}
            }
        }),

        computed : {
            ...mapGetters({
                isPending   : 'users/isPending',
                isFailure   : 'users/isFailure',
            })
        },
        methods : {
            submit () {
                this.$validator.validate().then( result => {
                    if ( result ) { this.register(); }
                })
            },

            register () {
                this.$store.dispatch( "users/signup", this.credentials ).then( () => {
                    this.$store.dispatch( "users/login", this.credentials ).then( () => {
                        this.$router.push( "/user" );
                    })
                })
            }
        }
    }
</script>
