<template lang="pug">
	b-modal#modaluser(ref='modaluser' title='Add user' @hidden='clear')
		b-form(data-vv-scope='user')
			b-form-group(horizontal='' label="Login <span class='text-danger'>*</span>" label-for='ILogin' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
				b-form-input#ILogin(v-model='model.username' name='login' placeholder='' v-validate='{required: true, alpha_dash: true}' data-vv-validate-on='validate' data-vv-as='Login' :class="{'is-invalid' : errors.has('login', 'user')}")
			b-form-group(horizontal='' label="Name" label-for='IName' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
				b-form-input#IName(v-model='model.fullname' name='fullname' placeholder='')
			b-form-group(horizontal='' label="Email <span class='text-danger'>*</span>" label-for='IEmail' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
				b-form-input#IEmail(v-model='model.email' name='email' placeholder='' v-validate='{required: true, email: true}' data-vv-validate-on='validate' data-vv-as='Email' :class="{'is-invalid' : errors.has('email', 'user')}")
			b-form-group(horizontal='' label="Password <span class='text-danger'>*</span>" label-for='IPassword' :label-cols='settings.label.col' :label-text-align='settings.label.align' breakpoint='md')
				b-form-input#IPassword(v-model='model.password' name='password' placeholder='' v-validate='{required: true, min:6}' data-vv-validate-on='validate' data-vv-as='Password' :class="{'is-invalid' : errors.has('password', 'user')}")
		
		b-alert(variant='danger' :show='errors.items.length > 0')
			ul.list-unstyled.mb-0.text-left
				li(v-for='er in errors.items' :key='er.field') {{er.msg}}

		div(slot='modal-footer')
			b-btn.float-right.mr-0(variant='primary' @click.stop.prevent='validate("user")' :disabled='isPending') Create
			b-btn.float-right.mr-2(variant='default' @click='hideModal') Cancel
</template>

<script>
	import {mapActions, mapGetters} from 'vuex'
	import vBModal from 'bootstrap-vue/es/directives/modal/modal'
	import Notification from '@/services/serviceNotification'
	import { Validator } from 'vee-validate';

	export default {
		name 	: 'cui-modal-user',
		directives : {
			vBModal			
		},
		props 	: {},
		data () {
			return {
				model : {
					username	: null,
					fullname	: null,
					email		: null,
					password 	: null
				},

				settings 	: {
					label 	: {
						col 	: 3,
						align 	: 'left'	
					} 
				}
			}
		},
		watch 	: {
			"item": {
				handler ( nV, oV ) {
					this.model = nV;
					this.showModal();
				}
			},
		},
		computed: {
			...mapGetters({
				isPending 	: 'users/isPending'
			})
		},
		methods : {
			clear () {
				_.forIn(this.model, function ( v, i, s ) { s[i] = null; })
			},

			save () {
				this.$store.dispatch("users/put", this.model)
					.then( (v) => {
						Notification.success.call(this, 'User added!' );
						_.mapValues(this.model, () => null);
						this.hideModal();
					}).catch( (er) => {
						Notification.error.call(this, er );
					});
			},

			edit () {

			},

			hideModal () {
				this.$refs.modaluser.hide();
			},

			showModal () {
				this.$refs.modaluser.show();
			},

			validate ( tab ) {
				let v = this.$validator.validateAll(tab)
				
				v.then( result => {
					if ( result ) {
						this.save( tab );
					}
				});

				return v;
			},
		}
	}
</script>