<template lang="pug">
  .layout-wrapper.layout-2
    .layout-inner
      app-layout-sidenav
      .layout-container
        app-layout-navbar
        .layout-content
          .router-transitions.container-fluid.flex-grow-1.container-p-y
            router-view

    up-btn

    .layout-overlay(@click='closeSidenav')
</template>

<script>
import LayoutNavbar from './LayoutNavbar'
import LayoutSidenav from './LayoutSidenav'
import LayoutFooter from './LayoutFooter'
import UpBtn from '@/cui-components/CuiUpBtn'

export default {
  name: 'app-layout-2',
  components: {
    'app-layout-navbar'       : LayoutNavbar,
    'app-layout-sidenav'      : LayoutSidenav,
    'app-layout-footer'       : LayoutFooter,
    'up-btn'                  : UpBtn
  },

  mounted () {
    this.layoutHelpers.init()
    this.layoutHelpers.update()
    this.layoutHelpers.setAutoUpdate(true)
  },

  beforeDestroy () {
    this.layoutHelpers.destroy()
  },

  methods: {
    closeSidenav () {
      this.layoutHelpers.setCollapsed(true)
    }
  }
}
</script>
