<template lang='pug'>
  .layout-wrapper.layout-1.layout-without-sidenav.layout-page
    .layout-inner
      app-layout-navbar(:sidenavtoggle='false')
      .layout-container
        .layout-content
          .router-transitions.container-fluid.flex-grow-1.container-p-y
            router-view
          app-layout-footer
    up-btn
</template>

<script>
import LayoutNavbar from './LayoutNavbarPage'
import LayoutFooter from './LayoutFooterPage'
import UpBtn from '@/cui-components/CuiUpBtn'

export default {
  name: 'app-layout-without-sidenav',
  components: {
    'app-layout-navbar': LayoutNavbar,
    'app-layout-footer': LayoutFooter,
    'up-btn'                  : UpBtn
  },

  mounted () {
    // Enshure that we have not '.layout-expanded' class on the html element
    this.layoutHelpers._removeClass('layout-expanded')

    this.layoutHelpers.init()
    this.layoutHelpers.update()
    this.layoutHelpers.setAutoUpdate(true)
  },

  beforeDestroy () {
    this.layoutHelpers.destroy()
  }
}
</script>
