<template lang='pug'>
  b-navbar.layout-navbar.align-items-sm-center.container-p-x(toggleable='sm', :variant='getLayoutNavbarBg()')
    // Sidenav toggle (see demo.css)
    b-navbar-nav.layout-sidenav-toggle.d-lg-none.align-items-lg-center(v-if='sidenavToggle')
      a.nav-item.nav-link.px-0.ml-lg-0(href='javascript:void(0)', @click='toggleSidenav')
        i.ion.ion-md-menu.text-large.align-middle
     
    b-navbar-brand.d-lg-none.logo.py-0.m-auto(to='/')
      img(src='/static/img/logo/logo4.png')
    b-navbar-toggle(target='app-layout-navbar')

    b-collapse#app-layout-navbar(is-nav='')
      hr.d-sm-none.w-100.my-2
      b-navbar-nav.align-items-sm-center.ml-lg-auto
        cui-user-menu

</template>

<script>
import CuiUserMenu from "@/cui-components/CuiUserMenu"

export default {
  name: 'app-layout-navbar',
  components : {
    CuiUserMenu
  },
  props: {
    sidenavToggle: {
      type: Boolean,
      default: true
    }
  },

  methods: {
    toggleSidenav () {
      this.layoutHelpers.toggleCollapsed()
    },

    getLayoutNavbarBg () {
      return this.layoutNavbarBg
    }
  }
}
</script>
