<template lang="pug">

  sidenav(:orientation='orientation', :class='curClasses')
    .wrapper_logo.d-flex.align-items-center.justify-content-center
      b-navbar-brand.logo.py-0.d-flex(to='/')
        img(src='/static/img/logo/logo4.png')
      b-navbar-nav.align-items-lg-center.d-lg-none
        // Search
        label.nav-item.navbar-text.navbar-search-box.px-0.active
          //
            <i class="ion ion-ios-search navbar-icon align-middle"></i>
            <span class="navbar-search-input pl-2">
            <input type="text" class="form-control navbar-text mx-2" placeholder="Search...">
            </span>
    .sidenav-divider.mt-0
    // Inner
    .sidenav-inner.ps(:class="{ 'py-1': orientation !== 'horizontal' }")

      li.sidenav-header.small.font-weight-semibold PERSONAL
      sidenav-router-link(icon='fas fa-user-circle', :to="{ name: 'profile', params: {username: me.username}}", :exact='true') My profile
      sidenav-router-link(icon='far fa-newspaper', :to="{ name: 'feed'}", :exact='true' :disabled='true') Feed
      
      li.sidenav-divider.mb-1
      li.sidenav-header.small.font-weight-semibold DISCOVER
      sidenav-router-link(icon='ion ion-ios-people', :to="{ name: 'people'}", :exact='true') People
      
      li.sidenav-divider.mb-1
      li.sidenav-header.small.font-weight-semibold ADMINISTRATOR
      sidenav-router-link(icon='ion ion-ios-bulb', :to="{ name: 'ideas'}") Trading ideas
      sidenav-router-link(icon='ion ion-ios-people', :to="{ name: 'users'}", :exact='true') Users
      sidenav-router-link(icon='ion ion-ios-sync', :to="{ name: 'exchanges'}", :exact='true' :disabled='true') Exchanges
      
      li.sidenav-divider.mb-1
      li.sidenav-header.small.font-weight-semibold MORE
      sidenav-router-link(icon='fas fa-database', :to="{ name: 'faq'}", :exact='true') FAQ

    cui-social-icons
    li.sidenav-divider.mb-1
    made-with-love
</template>

<script>
import { mapGetters } from 'vuex'
import { Sidenav, SidenavLink, SidenavRouterLink, SidenavMenu, SidenavHeader, SidenavBlock, SidenavDivider } from '@/vendor/libs/sidenav'
import MadeWithLove from './MadeWithLove'
import CuiSocialIcons from '@/cui-components/CuiSocialIcons'

export default {
  name: 'app-layout-sidenav',
  components: {
    Sidenav,
    SidenavLink,
    SidenavRouterLink,
    SidenavMenu,
    SidenavHeader,
    SidenavBlock,
    SidenavDivider,
    MadeWithLove,
    CuiSocialIcons
  },

  props: {
    orientation: {
      type: String,
      default: 'vertical'
    }
  },

  computed: {
    curClasses () {
      let bg = this.layoutSidenavBg

      if (this.orientation === 'horizontal' && (bg.indexOf(' sidenav-dark') !== -1 || bg.indexOf(' sidenav-light') !== -1)) {
        bg = bg
          .replace(' sidenav-dark', '')
          .replace(' sidenav-light', '')
          .replace('-darker', '')
          .replace('-dark', '')
      }

      return `bg-${bg} ` + (
        this.orientation !== 'horizontal'
          ? 'layout-sidenav'
          : 'layout-sidenav-horizontal container-p-x flex-grow-0'
      )
    },
    ...mapGetters({
      me          : "users/isLogged",
    })
  },

  methods: {
    isMenuActive (url) {
      return this.$route.path.indexOf(url) === 0
    },

    isMenuOpen (url) {
      return this.$route.path.indexOf(url) === 0 && this.orientation !== 'horizontal'
    },

    toggleSidenav () {
      this.layoutHelpers.toggleCollapsed()
    }
  }
}
</script>
