<template lang="pug">
  nav.layout-footer.footer(:class='getLayoutFooterBg()')
    .container-fluid.d-flex.flex-wrap.justify-content-between.text-center.container-p-x.pb-3
      .pt-3
        span.footer-text.font-weight-bolder projectname
        |  &nbsp;
        //- |  &copy;
        |  Made with 
        i.fas.fa-heart.text-danger
        |  love on Earth
      div
        a.footer-link.pt-3(href='#') About Us
        a.footer-link.pt-3.ml-4(href='#') Help
        a.footer-link.pt-3.ml-4(href='#') Reports
        a.footer-link.pt-3.ml-4(href='#') Contact
        a.footer-link.pt-3.ml-4(href='#') Terms &amp; Conditions
</template>

<script>
export default {
  name: 'app-layout-footer',

  methods: {
    getLayoutFooterBg () {
      return `bg-${this.layoutFooterBg}`
    }
  }
}
</script>
