<template lang="pug">
	nav.layout-footer.footer.d-flex(:class='getLayoutFooterBg()')
		b-row.container-fluid.container-p-x.d-flex.flex-wrap.justify-content-between.align-items-center
			.col-xs-6.col-sm-3.col-md-5.col-lg-5
				nav.footer-nav
					a.footer-link(href='#') Home
					a.footer-link.ml-4(href='#') Faq
					a.footer-link.ml-4(href='#') Results
					a.footer-link.ml-4(href='#') Model
					a.footer-link.ml-4(href='#') Risk Disclosure
			.col-xs-6.col-sm-9.col-md-7.col-lg-7
				.row
					.col-sm-6.text-center.d-flex.align-items-center.justify-content-center
						made-with-love
					.col-sm-6
						cui-social-icons2.ml-auto
</template>

<style lang='scss' scoped>
	@import '../vendor/styles/_projectname/_include';
	
	.made-text {
		padding: 0 !important;
	}

	@include media-breakpoint-down(sm) {
		.footer-nav {
			display: block;
			padding: .75rem 0;
			
			.footer-link {
				display: block;
				margin-left: 0 !important;
			}
		}
	}

	@include media-breakpoint-only(xs) {
		.social-list {
			margin: .75rem auto !important;
		}
	}
</style>

<script>
import MadeWithLove from './MadeWithLove'
import CuiSocialIcons2 from '@/cui-components/CuiSocialIcons2'

export default {
	name: 'app-layout-footer-page',
	components : {
		MadeWithLove,
		CuiSocialIcons2
	},
  	methods: {
		getLayoutFooterBg () {
			return `bg-${this.layoutFooterBg}`
		}
  	}
}
</script>
